[2019-06-29 12:43] Ziinc opened #6 "Proxy support?"
Hi, great project. I'm considering a rewrite of my existing scraper in scrapy but i can't seem to find any proxy support in the docs. Is there a way to customize the request to go through a proxy?

[2019-06-29 16:42] oltarasenko commented on #6
Thanks for feedback @Ziinc! I have planned to add proxy support to Crawly. If it could help you to choose Crawly over Scrapy, I would re-prioritize this work to deliver it faster.

Please also let me know if you need any other support.

[2019-06-30 00:13] Ziinc commented on #6
Proxy support would be awesome, but there's not pressing need for it right now, I'll give crawly a spin for sites that don't need a proxy.

Do you have a roadmap of future releases?

[2019-07-01 08:27] oltarasenko commented on #6
Yes, I have a plan. Actually, I am working on two big things:

1. Cookies support
2. Robots.txt fixes (the current third party lib Gollum, has several bugs I want to resolve)

But proxy support can be easily added. So I will do it before the planned tasks

[2019-07-17 13:43] cpursley opened #7 "Update example"
This looks like a very useful project.

Can you please update the example Crawly Example (https://www.homebase.co.uk) and Tutorial? They both seem to be broken.

[2019-07-17 20:31] oltarasenko commented on #7
@cpursley I have checked the example. And added the following link to the readme: https://github.com/oltarasenko/products-advisor

Hopefully, it could help to start with Crawly! Please let me know if you need more help setting things up for your case!

[2019-07-18 10:36] #7 closed

[2019-07-18 12:49] cpursley commented on #7
Дякую (или Спасибо)!

[2019-07-18 12:51] oltarasenko commented on #7
Happy to help you! Please let me know if you need to help bootstrapping the project you're working on

[2019-07-28 17:37] cpursley opened #8 "Example for CSV export"
I see that you can export JSON with the following config:

[code]

Is there a middleware for exporting to CSV format or a recommend way to do this?

Also, why does the file format end in `file.ji` instead of `file.json` when using JSONncoder?

[2019-07-30 17:27] oltarasenko commented on #8
Hi @cpursley,

The CSV exporter middleware is not yet developed. I plan to add it to Crawly very soon. Will update this ticket once it's added!

[2019-08-03 19:51] oltarasenko commented on #6
@Ziinc The proxy support is available now!

Could you please give it a try, to see if I can do anything on the top of it?

[2019-08-04 12:58] oltarasenko commented on #8
@cpursley I have now added an example of CSV Encoder here: https://github.com/oltarasenko/crawly-cars

[2019-08-05 19:55] #8 closed

[2019-08-05 19:55] #6 closed

[2019-08-06 14:08] cpursley commented on #8
Thanks!

[2019-10-01 08:36] Ziinc opened #14 "Unable to get up and running from the quick start"
Hi, I am unable to scrape the erlang solutions blog as the quickstart guide states here:
https://github.com/oltarasenko/crawly#quickstart

Attempting to run the spider through iex results in:
[code]
I'm quite lost as there is no way for me to debug this, if it is a network issue (which is highly unlikely since i can access the esl website through my browser), or if it is an issue with the urls bei

[2019-10-01 14:26] oltarasenko commented on #14
Could you also try to do `Crawly.fetch("https://www.erlang-solutions.com/blog.html")` just to check if it's possible to make requests to the blog from your machine?

[2019-10-01 19:42] oltarasenko commented on #14
@Ziinc in any case tell me what you're trying to achieve so I could try to help.

[2019-10-02 06:04] Ziinc commented on #14
I'm trying to integrate Crawly with an existing phoenix project.

My dependencies are as follows (though I doubt that there would be dependency conflicts:
[code]

I was actually initially on 1.8.2 when I first encountered the issue, and I had updated to see if it would help.

This is what happens with the `Crawly.fetch()`
[code]

I will try the quickstart on a fresh project and report back

[2019-10-02 07:55] Ziinc commented on #14
@oltarasenko I've been able to get the quickstart to work in a new project, but it still does not work when i try add it into the existing project. I think it's an issue with dependency conflicts, notably httpoison.

[2019-10-02 08:10] Ziinc commented on #14
@oltarasenko  Seems like it is an issue with hackney:

https://elixirforum.com/t/hackney-error-option-server-only-honor-cipher-order/25541

I'll try recompiling and updating the deps and try again

[2019-10-02 08:17] Ziinc commented on #14
Updating the httpoison dependency did the trick, it upgraded hackney to the latest version, where the ssl issue was fixed. Thanks!

[2019-10-02 08:19] Ziinc commented on #14
I think instead of letting the httpoison errors get swallowed up, it would be good to let them surface as debug logs.

[2019-10-02 10:37] oltarasenko commented on #14
Ok, I am re-opening it, as the thing you have mentioned (https://github.com/oltarasenko/crawly/blob/master/lib/crawly/worker.ex#L43) requires a fix. Will process an error here & log the error message. Good catch!

[2019-10-02 20:02] oltarasenko commented on #14
@Ziinc Could you please have a glance at https://github.com/oltarasenko/crawly/pull/15. It is pretty trivial for now. however, I plan to extend the worker quite soon (as I am currently working on a support of different user agents (aka webdriver support))

[2019-10-03 05:20] Ziinc commented on #14
looks good. A possible extension (to add to backlog) for error behaviour could be a configurable fallback module to call when the backoff retries fail, thereby allowing the engine to exec some wrap up function, possibly to alert for errors.

[2019-10-03 05:26] Ziinc commented on #14
Possibly specified at either spider level or config level

[2019-10-12 09:24] krystofbe opened #16 "Dumping data to DB instead of a file"
Thanks for this awesome library <3

Is there any possibility to write the scraped items to a database with ecto instead of writing them to file?

[2019-10-14 14:35] oltarasenko commented on #16
Hi @krystofbe. Thanks for the feedback. I will check. Will get back to you soon

[2019-10-14 14:38] krystofbe commented on #16
Hi @oltarasenko!
What I did was writing a custom `Crawly.Pipeline`Module that saves each entry with `Repo.insert`. But this saves to disk nevertheless.

[2019-10-14 14:42] oltarasenko commented on #16
Hey @krystofbe, yes that's a way to go I think. (Also another option would be to import CSV file directly to the database).

Regarding the items pipeline. Is that the case, that the pipeline you have created does not do anything?

[2019-10-14 14:44] krystofbe commented on #16
Right now it's a modified JSON Pipeline
[code]

[2019-10-14 14:47] oltarasenko commented on #16
ok, did you add it to the pipelines in crawly settings? as it's suggested here? https://oltarasenko.github.io/crawly/#/?id=pipelines-module

[2019-10-14 14:49] krystofbe commented on #16
Yep, this works very nicely this ways. The only downside about this method is that the csv-file is still created, eventhough I don't need it. And wouldn't want this file because I suppose it's getting very large and I would need to delete it regularly.

[2019-10-14 14:54] oltarasenko commented on #16
Ok, it's my bad. I need to think about how to improve it https://github.com/oltarasenko/crawly/blob/master/lib/crawly/data_storage/data_storage_worker.ex#L36-L47

The problem is that writing to a file, requires me to open/close the fd. From now, please store files in /tmp folder, and I will add a fix for the case soon!

[2019-10-14 14:55] krystofbe commented on #16
Thanks for your effort ❤️

[2019-10-15 07:05] oltarasenko commented on #16
@krystofbe I have an idea how to improve the case. I will be releasing the next version of Crawly closer to the end of the week.
Btw, what do you think about adding ECTO pipeline to Crawly? Probably it would be needed to generalize the case a bit, but I think it might be useful.

[2019-10-15 08:59] krystofbe commented on #16
Hi @oltarasenko:
I suggest that I'll look at your changes and the end of the week, update and modify the pipeline

[2019-10-15 16:56] Ziinc commented on #16
@oltarasenko the sheer number of scraped results might overwhelm the db without a job queue, as @krystofbe is probably using right now, as inferred from `Results.job()`.

[2019-10-17 14:55] chavenor opened #18 "Browser Rendering?"
Is HMLT, CSS, JS in-browser rendering on the roadmap?

Thanks!

[2019-10-18 13:05] oltarasenko commented on #18
@chavenor Yes, definitely!

[2019-11-25 08:16] Ziinc opened #20 "Scraping different items from the same spider, each with different pipeline requirements"
Problem:
Crawly only allows single item type scraping. However, what if i am crawling two different sites, with vastly different items?

For example, web page A (e.g. a blog) will have:
- comments
- article content
- related links
- title

while web page B (e.g. a weather site) will have:
- temperature
- country

In the current setup, the only way to work around this is to lump all these logically

[2019-11-26 10:33] oltarasenko commented on #20
@Ziinc I will think what is the best way of approaching the problem. I was working in Scrapy core team some time in the past, and we where using one Item structure per project. However there we used a concept of required/non-required fields.

I did not really want to define the item as we did it in Scrapy, as it seems to be an overkill to have it defined separately.
Also Crawly defined item, as a

[2019-11-26 13:48] Ziinc commented on #20
@oltarasenko I understand what you mean and agree. It seems like additional boilerplate for not much benefit.

Perhaps looking at it from a different angle, the whole definition of an "item" in the config would be unnecessary. From my understanding, the defined item is only used for the `Crawly.Pipelines.Validate` pipeline module, and the `item_id` is only used in the `Crawly.Pipelines.DuplicatesF

[2019-11-26 14:23] oltarasenko commented on #20
Well another problem is to be able to output CSV. E.g. this way or another we would have to extend the item definition (as in scrapy). As otherwise we would not be able to output the CSV headers :(.

[2019-11-26 16:47] Ziinc commented on #20
With parameterized pipeline definitions, one could pass DataStorage modules within the pipeline (#19 ) parameters. So for the CSV DataStorage, it could be:

[code]

instead of global configs like in #19 :
[code]
Having global configs prevents having multiple pipeline modules within the same pipeline.
I liken this to how elixir's piping works, the pipeline module either transforms the scraped data

[2019-11-27 17:50] Ziinc opened #22 "Move away from using global app env for pipeline module config"
Pipeline config should be localized to the specific pipeline.
Benefits:
1. Reduces clashes (when more middlewares/pipelines get built)
2. makes parameter declaration clearer
3. makes pipelines more "functional" and reusable
4. use of `Application.get_env` usage within pipeline modules makes things less clear when declaring pipelines.

Related to #20 , would pave the way for adding logic into a pip

[2019-11-27 20:59] oltarasenko commented on #22
I kind of like this idea!

[2019-11-27 20:59] oltarasenko commented on #14
This is now fixed in 0.6.0

[2019-11-27 20:59] #14 closed

[2019-11-27 21:00] oltarasenko commented on #16
@krystofbe We have modified the idea of DataStorage. Now it's possible just to remove the WriteToFile pipeline from the list of pipelines and you will not have anything stored on FS.

Also I would love to get a contribution for the Ecto pipeline, if available

[2019-11-28 05:59] Ziinc commented on #16
Maybe it's better to generate the code required to write the Ecto pipeline instead of having it out of the box, since it will require the dev to wire it up anyway.

We could do an advanced genstage pipeline template, which would be generalised for other use cases

[2019-11-28 07:22] Ziinc commented on #18
This could be handled by a middleware. For the browser rendering, there are two stable options:
- puppeteer (chrome only)
- hound (requires Selenium server running + browser)

I'm thinking the hound route would be better

[2019-11-28 07:25] Ziinc commented on #16
Just thinking about this more, instead of generating a template, maybe a GenStagePipeline with callbacks would good enough?

[2019-11-28 08:26] oltarasenko commented on #18
I had a plan to showcase a library which we were developing in the past: https://github.com/scrapinghub/splash.

It might be used as a first option (e.g. no development required, just use splash as a proxy). However in the long term I would love to have the support for routing requests through the headless browsers (e.g. I think now browsers can be controlled via HTTPApi directly without selenium)

[2019-11-28 10:03] Ziinc commented on #18
The usual solution for modifying the http headers is through the BrowserMob proxy

https://github.com/lightbody/browsermob-proxy

Using splash would require maintaining the elixir wrapper for the http api, which would be beyond the scope of crawly as a crawling engine.

Using hound would leverage their existing API wrapper instead.

If the goal is to simply render, then splash might be a good choi

[2019-11-28 14:35] oltarasenko commented on #16
I am not sure about the GenStage. In general I would rather prefer not to use it.
1. DataStorageWorker is one process. So I would not expect one crawl to kill the database
2. If multiple spiders are running - yes, it might cause the issue with database, (however it might cause issues to filesystem as well, if we're writing a lot on HDD).

So for now I would stick with just a pure pipeline without

[2019-11-29 12:35] oltarasenko opened #24 "Improve tests for CSV encoder pipeline"
Some tests are quite ugly at the moment :(. Need to check the race condition here:

[code]

As it fails the CI pipeline for master.

[2019-11-29 12:43] oltarasenko opened #25 "Add versioning to the documentation"
Looks like it's quite hard to maintain the documentation in a good shape if you have multiple versions with different settings. (And especially different (slightly diverging) tutorials).

We need to have versioning.

I am slightly biased against the standard Elixir style of documenting the code (e.g. having very large docstrings makes the code unreadable, at least to me).

I would try to add an in

[2019-11-29 12:44] oltarasenko opened #26 "Retries support"
We need to be able to re-try failing requests.

[2019-11-29 12:45] oltarasenko opened #27 "Write an example of Crawly with splash integrated as a proxy"

[2019-11-29 13:53] Ziinc commented on #27
might need to consider that in a mutli-spider situation, some spiders do not need the browser rendering.  Maybe it can be on the spider implementation level, where browser rendering is declared with a flag (or something like that)

[2019-11-29 14:00] Ziinc commented on #25
I usually collapse the docstrings with vscode. I was also wondering why you hadn't used ExDoc.

The developer docs is lacking, I still don't quite understand some parts of crawly, and i had to carefully follow function names when trying to understand the pipelines logic. I think using exdoc for a set of dev docs would be good.

i personally find that separating code and documentation (dev or user)

[2019-11-29 14:00] Ziinc commented on #22
I'll open a PR for this over the weekend

[2019-11-29 14:02] Ziinc commented on #26
can be implemented as a middleware. failed requests then go back to the start of the middleware pipeline, then get dropped if the retry count reaches threshold

[2019-11-29 14:03] Ziinc commented on #24
I'll handle standardizing the pipeline tests

[2019-11-29 14:04] Ziinc commented on #27
related to #18

[2019-11-29 15:36] oltarasenko commented on #27
Yes, in general we need to be able to setup different HTTP clients for different spiders

[2019-11-29 15:55] oltarasenko commented on #26
It might be a bit more complex, as middlewares are purely functional by design.

We might add attempts field to a request structure. And then to have the Retries middleware which cuts items with large amount of retries.

However it's worker who knows if the request have failed or not at the end of the day.

[2019-11-29 15:59] oltarasenko commented on #25
Wow, that's a valuable feedback! Let me try to improve that part. Could you please raise an issue with things which was problematic in middlewares so I can create in improvement PR?

I would still separate the functions documentation with things like getting started/tutorials/examples/settings description (well I don't quite know if it's possible to describe settings properly with ExDoc) etc.

[2019-11-29 16:29] Ziinc commented on #27
Thinking a bit more:
Could it be at a request level? What if a site's structure has certain parts that require JS, and certain parts that don't. It would be unnecessary and inefficient to use a browser for parts which don't require JS.

[2019-11-29 23:10] jallum commented on #27
I think that using the request makes the most sense.  The spider is in a good position to make the decision as to what kind of request should be made on it's behalf.

Thinking out loud, what about returning plain url-strings in the `ParsedItem`, and then crawly could pass those url-strings back to a new (optional) callback on the spider to produce the request given the url?  At that point, the spi

[2019-11-30 04:35] Ziinc commented on #25
It's more to do with not having a single set of dev docs to look through and reference to know what each module and function is doing.

Actually, if I'm not wrong, hexdocs already automatically generates a set of docs using ExDoc:
https://hexdocs.pm/crawly/api-reference.html

I also notice that this ranks higher on google than the docsify page. I think its attributable to the JS only approach of d

[2019-11-30 20:29] oltarasenko commented on #25
I would give it a try. @Ziinc maybe you could point me to the guides implementation, e.g. I don't quite see where their sources are.

[2019-11-30 21:04] oltarasenko commented on #20
I was syncing up with some people from Scrapy team. They are stating the following:

1. Scrapy actually allowed to use different pipelines for different items. However the configuration is not nice as well. https://stackoverflow.com/questions/8372703/how-can-i-use-different-pipelines-for-different-spiders-in-a-single-scrapy-proje. Honestly I would not want to follow their way here.

2. It's quite

[2019-12-01 06:44] Ziinc commented on #25
Oops I didn't copy paste it correctly before.

The guides on hexdocs:
https://hexdocs.pm/phoenix/overview.html#content

and on github:
https://github.com/phoenixframework/phoenix/tree/master/guides

[2019-12-01 06:56] Ziinc commented on #20
As explained in the [parent post body](https://github.com/oltarasenko/crawly/issues/20#issue-527922347), my use case is about handling different types of scraped items, which may or may not use different spiders. Different types of scraped items would have different processing/validation requirements, hence the need for different pipelines.

[2019-12-01 10:50] Ziinc commented on #20
If it helps make it clearer, I use (or at least trying to) a single instance of crawly to manage all scraping needs of the main application, which requires many different web sources and feeds. The scraped data then gets cleaned and stored to their relevant databases tables, or undergo further processing steps. This last part is why some ability to separate scraped items would be great, as they cu

[2019-12-02 06:20] Ziinc commented on #16
Will include a guide on how to write an ecto pipeline in dev docs in PR #31

[2019-12-02 11:27] Ziinc commented on #27
@jallum I think improving `Crawly.Utils.request_from_url/1` could be split to another issue where relative/absolute url checks and building are done automatically.

Maybe a `:browser` boolean flag in `Crawly.Request`?

[2019-12-02 16:37] jallum commented on #27
Agreed.

[2019-12-07 21:12] oltarasenko commented on #25
@Ziinc I have made the first step towards hexdocs. I kind of liked what I am getting after all, so I think I will shut down the current version of static docs in a while (in favor of the hexdocs).

Could you please have a glance on: https://github.com/oltarasenko/crawly/pull/32

[2019-12-07 22:52] oltarasenko commented on #27
It turns out that splash does not yet have a proxy interface :(. I don't really like this way of doing requests:
[code]

So probably will switch back to the original idea of headless browsers

[2019-12-08 04:39] Ziinc commented on #27
But this would be all within a middleware, right? There

[2019-12-09 08:10] oltarasenko commented on #27
Yes technically it's possible to build a middleware. Similarly as scrapy does: https://github.com/scrapy-plugins/scrapy-splash/blob/master/scrapy_splash/middleware.py

What needs to be done in this case:
1) Modify the request url to a splash based URL
2) Unwrap the URL so we will get the original URL on the spider level

I am ok with 1, but the 2 looks like a hack to me. I wonder maybe it will be

[2019-12-09 16:19] srmor03 opened #33 "Add options for HTTPoison"
How it is possible to implement in Crawly adding options for HTTPoison.
For example, such:

[code]

And so that it can then be used in a spider.

[2019-12-09 19:02] Ziinc commented on #33
You want to do it on a per-request, per-spider, or global basis?

[2019-12-09 20:27] srmor03 commented on #33
Global basis

[2019-12-10 08:06] Ziinc commented on #27
@oltarasenko  I think we shouldn't put it in the middleware, since it shouldn't fundamentally change the request, but only the way that the data is fetched.

I think we can abstract out the response fetching to a configurable module.
Considering that the worker in `lib/crawly/worker.ex` fetches the response as so:
![image](https://user-images.githubusercontent.com/22714384/70506009-567e0380-1b64-1

[2019-12-10 08:33] Ziinc commented on #27
I also think docker would be an unnecessary overhead and be even more things for the end user to learn to setup.

[2019-12-10 08:52] oltarasenko commented on #33
I agree. I need to add it. I will schedule the change for the next release.

[2019-12-10 08:53] oltarasenko commented on #27
I kind of like the idea of pluggable HTTP clients! Actually this was in plans for Crawly already. And I also agree about the middleware based approach (e.g. I would rather skip it).

[2019-12-10 09:12] Ziinc commented on #27
@oltarasenko yup I saw that you'd added the line for HTTPoison in the `config.exs`. I'll check through #32 today, then once it's meged in, I'll start on updating the docs for #31

[2019-12-10 20:43] oltarasenko commented on #25
Done in PR #32

[2019-12-10 20:43] #25 closed

[2019-12-11 08:29] Ziinc commented on #16
Docs on creating custom pipelines has been added, will be available in  next release

[2019-12-11 08:29] #16 closed

[2019-12-11 16:03] Ziinc opened #37 "Improvements for spider management"
Currently, there the `Crawly.Engine` apis are lacking for spider monitoring and management, especially for when there is no access to logs.

I think some critical areas are:
- spider crawl stats (scraped item count, dropped request/item count, scrape speed)
- `stop_all_spiders` to stop all running spiders

The stopping of spiders should be easy to implement.

For the spider stats, since some of th

[2019-12-11 16:04] #24 closed

[2019-12-15 12:12] oltarasenko commented on #37
Actually I think that it's possible to get the stats from the DataStorage: e.g. `Crawly.DataStorage.stats(spider_name)`.

https://github.com/oltarasenko/crawly/blob/master/lib/crawly/manager.ex#L83

[2019-12-16 04:33] Ziinc commented on #37
I see, the crawl speed seems to be calculated based on the previous state's crawl count, so a separate callback would be necessary to obtain the crawl speed from the manager.

as for the drop count, there manager doesn't seem to be tracking it. Neither are the request/response workers:
- https://github.com/oltarasenko/crawly/blob/master/lib/crawly/requests_storage/requests_storage_worker.ex#L87
-

[2019-12-20 08:26] oltarasenko commented on #33
@srmor03 I have made the following change to address your issue: https://github.com/oltarasenko/crawly/pull/38. Hopefully, it can be reviewed and approved soon!

[2019-12-28 16:59] #22 closed

[2019-12-28 17:03] oltarasenko opened #41 "Add pluggable HTTP backends"
What:

Currently Crawly uses HTTPoison to perform requests. We want to make it more dynamic, to be able to use other HTTP clients, and headless browsers.

Why:

All currently known HTTP clients have some specific behaviors. Some sites would ban everything which does not look like a browser. Some sites would use JS to render web pages. We need to be able to address all these problems by dynamically

[2019-12-28 18:28] Ziinc commented on #33
The HTTPoison options for ssl can be set through a custom request middleware. Configuration and secrets can be passed through Application.get_env in your config.exs.

Please refer to the latest documentation in master:

https://github.com/oltarasenko/crawly/blob/master/documentation/basic_concepts.md#request-middleware-example---add-a-proxy

The latest documentation is not up yet on hex.pm,so refe

[2019-12-28 18:28] #33 closed

[2019-12-29 20:45] oltarasenko opened #42 "Update tutorials so Floki does not parse documents multiple times"
Based on:
https://elixirforum.com/t/web-scraping-tools/4823/31

[code]

[2019-12-30 08:18] Ziinc commented on #18
Merging issue into #27

[2019-12-30 08:33] Ziinc commented on #20
Right now my solution for this consists of pipeline level matching, with each key for a specific scraped item type.

[code]

Should this be the standard way of approaching this problem?

[2019-12-30 08:37] Ziinc commented on #20
This approach operates on a per-key basis, meaning that all items are going to consist of a single-key map

[2019-12-30 08:40] oltarasenko commented on #20
I am about to introduce spider level setting. E.g. it will be possible to do it inside init function. So the idea is that if you're specifying the spider level settings it would allow you to override the global config. I have kind of made required preparations here: https://github.com/oltarasenko/crawly/pull/39/commits/e05b512064f9d0df68260dfcb01ac4a4f874454f

So one of the points is that spider w

[2019-12-30 08:46] oltarasenko commented on #18
@Ziinc I want to discuss this again. Splash is not a full-featured replacement of the browser-based requests system.

We need to work on the support of something like headless chrome client. It will be required for those targets which would ban by the fingerprints of the HTTP header strings.

[2019-12-30 09:45] Ziinc commented on #20
Looking through the commit, it seems the middlewares and item pipelines are going to be set to the default value from the config, then the spider overrides them?

[2019-12-30 09:49] oltarasenko commented on #20
Yes. The idea I am playing with now is something like the following API:
(in Crawly.Request)

[code]

So at the end of the day, the worker will get a complete request with `processors set`. However, it may read the spider settings to see if override is required.

I am fixing tests there now. Hope to show the code soon!

[2019-12-30 10:20] Ziinc commented on #20
This would allow middlewares to be set on a per request basis, but there isn't a way to specify pipelines on a per scraped item basis.

Also, it seems simpler to do pattern matching on scraped items within the pipelines than to check and specify pipelines within the spider, since it causes the spider to be unnecessarily fat

[2019-12-30 12:19] oltarasenko commented on #20
Yeah. I don't have a good answer for that :(. E.g. you're right we can't do the same thing with items.
Let me think even more.

Maybe. The spider should not be fat. The idea, for now, it to allow setting middlewares/pipelines in init...
Also, I am trying to avoid pattern matching in some cases. E.g. I don't really feel comfortable if some entity does pattern matches on complex structures defined e

[2019-12-30 12:29] oltarasenko commented on #20
What do you think of:
1. Moving middlewares outside of request?
2. Should we define Crawly.Item and ask people to define items using the `use Crawly.Item` macro where the base item would be extended (and that base item define pipelines API)?

[2019-12-30 16:26] Ziinc commented on #20
I'm gonna brain-dump my thoughts on what what Crawly's selling points are to me, and my ideal-scenario type of architecture (bear with me, it might be long):

Crawly's selling points, to me, are the simplicity in how everything is just a series of pipelines. It is quite easy to visualize and understand how a request flows through the entire system from start to finish into a scraped item. This is

[2019-12-30 18:57] Ziinc commented on #20
To add to the 3 level overrides point:
Request-level overrides will be very rarely used and only in very unique cases.

To add for the ScrapedItem struct, even with all the above implemented, the spider will still have to specify what pipeline set to use, which will tend towards a fatter spider (as it declares the pipelines for each type of scraped item, and also would be duplicated for each diffe

[2019-12-30 21:29] oltarasenko commented on #41
Done in #34

[2019-12-30 21:29] #41 closed

[2019-12-30 21:30] oltarasenko opened #43 "Pluggable fetchers improvements"
- [ ] Update Crawly.fetch to use backends
- [ ] Allow specifying fetcher without options

[2019-12-31 02:52] Ziinc commented on #20
I think to summarize my points:
1. keeping middlewares in the requests is a good idea
2. a `use Crawly.Item` or `use Crawly Scraped.Item` macro would help, but would make the system more opaque. There needs to be a way to selectively apply pipelines to a scraped item based on its inherent data type.

[2020-01-02 12:23] oltarasenko commented on #20
I think it's a useful conversation. Some of the flows above can already go to Crawly documentation, as it will explain the flow of the things. Which will allow people to understand the internals. I would appreciate if you could summarize it in relevant PRs.

Yeah. And we should keep it as simple as possible. With this regards I am still a bit unsure if pipelines/middlewares should really live with

[2020-01-03 14:20] oltarasenko commented on #20
Well at the last minute I decided to keep the middlewares in request as they are for now. (As stripping out middlewares from the request would raise a question of identifying retries, which was solved).

[2020-01-03 16:02] Ziinc commented on #20
I'll open up a PR for the documentation updates on the request-response-item flow.

As for going back to the main crux of this issue, it is about how to determine the pipeline for a scraped item, as visualized in this diagram:
![image](https://user-images.githubusercontent.com/22714384/71732406-1fa8be00-2e82-11ea-8209-ab35269f646a.png)

If Requests already contain the middlewares, it does make sen

[2020-01-03 18:34] oltarasenko commented on #20
Yes, we could do it as you're suggesting. I was speaking with people from scrapy core team, what they are saying - you can re-write pipeline in a spider there, however this feature is almost never used. I kind of like the approach with custom middlewares more... E.g. it seems to be a way more simple...

[2020-01-04 00:25] Ziinc commented on #20
I think let's keep the pipeline behaviour as-is for now. It seems like additional changes for minimal benefit. Spider overrides in the init would be easier to implement in `worker.exs` too.

I'll open PRs for the documentation soon:
- [ ] request-response-item flow
- [ ] advanced pipeline techniques (pattern matching, structs, ecto schemas)

[2020-01-05 18:48] philss commented on #42
For that I recommend that we start to use the newer functions [`Floki.parse_document/1`](https://hexdocs.pm/floki/Floki.html#parse_document/1) or [`Floki.parse_fragment/1`](https://hexdocs.pm/floki/Floki.html#parse_fragment/1).

They are functions that can return errors in case of something goes wrong with the parsing. Also, [`Floki.parse/1`](https://hexdocs.pm/floki/Floki.html#parse/1) is depreca

[2020-01-10 08:26] Ziinc commented on #20
PRs opened, to be closed on merge

[2020-01-13 10:21] Ziinc commented on #26
Closing, with #47 merged

[2020-01-13 10:22] #26 closed

[2020-01-13 10:22] #20 closed

[2020-01-13 10:46] Ziinc opened #48 "Code generator helpers"
mix helpers for generating boilerplate code for spiders and pipelines.

[2020-01-13 10:48] Ziinc opened #49 "Optional XPath support"
Optional xpath support.

Should be able to handle dirty xml input.

[2020-01-13 10:49] oltarasenko opened #50 "Read request settings from middlewares"
Currently, we're setting proxy and follow redirect settings directly, for example:

- https://github.com/oltarasenko/crawly/blob/945acbb1f0db1ace8464d4e6f436375002d1482f/lib/crawly.ex#L15
- https://github.com/oltarasenko/crawly/blob/6d0f9117aabce1e281240a7e7300cdf934affe09/lib/crawly/worker.ex#L139

Check if it's possible to migrate it to middlewares.

[2020-01-13 12:43] Ziinc commented on #50
I've got a custom proxy middleware that follows the HTTPoison's format of setting auth (proxy endpoint and auth are separate keywords.

The proxy auth implementation that you had added wasn't sufficient because HTTPoison doesn't recognize proxy auth in the usual http://user:pass@host:port format

When I've got time I'll abstract it out from my codebase and open a PR

[2020-01-13 12:51] Ziinc commented on #49
@oltarasenko is this issue worth pursuing?

To add xpath querying, the only viable elixir library for that would be meeseeks, but it requires the rust compiler to be installed.
The users that actually need xpath support would be advanced enough to add the library as a dep by them themself too

Sweet_xml doesn't handle dirty XML input well too, so it's out of the question.

I think leaving Floki as

[2020-01-13 12:53] oltarasenko commented on #49
I think that at the end of the day we should not force Floki. E.g. now it's not a requirement (I am updating the tutorial to reflect it).

I think we should have one example with meeseeks usage. I will try to address it in the next few releases (e.g. a bit stuck with a splash example).

[2020-01-14 12:09] oltarasenko opened #52 "Implement Crawly.crawl/2 command for fetching given page with given spider"
It may be Crawly.crawl(url, spider_name) or Crawly.crawl_with(url, spider_name)

The idea is based on:
https://github.com/oltarasenko/crawly/pull/51#issuecomment-573744130

We want to build a way to debug how spider would fetch a given page. Which links are going to be extracted? Which items are going to be fetched?

[2020-02-24 09:51] oltarasenko commented on #18
@chavenor I would assume that with basic splash renderer this can be closed. Of course, we would have to continue towards the headless Chrome. However, for now, I don't see demand or requests for that feature immediately.

[2020-02-24 09:51] #18 closed

[2020-02-25 19:29] oltarasenko commented on #27
The example project is located here: https://github.com/oltarasenko/autosites

[2020-02-25 19:29] #27 closed

[2020-02-25 19:34] #50 closed

[2020-02-25 19:34] oltarasenko commented on #50
Done

[2020-02-25 19:36] oltarasenko commented on #49
@Ziinc I think we should not worry about Xpath. I have just played with the meeseeks. It seems to give what we need. I want to just close this issue.

[2020-02-26 07:20] #49 closed

[2020-03-17 14:53] Unumus opened #62 "Crawly does not return any data."
Hello!

I copy the examples repos and try to run it on my system. What is, am I doing wrong?

[code]

[2020-03-17 15:04] oltarasenko commented on #62
@Unumus sorry which repo are you talking about?

[2020-03-17 15:26] oltarasenko commented on #62
It might happen due to the connectivity issues for example.

[2020-03-18 09:24] Ziinc commented on #62
Could be related to httpoison not being updated.

https://github.com/oltarasenko/crawly/issues/14

[2020-03-18 11:25] Unumus commented on #62
@Ziinc @oltarasenko  Thanks for your replies!

Yes. In the quick start, guides defined an older version of Crawly.

I updated it to the last one. Now I have another type of issue.

[code]
The spider code.
[code]

[2020-03-18 11:37] oltarasenko commented on #62
Sorry @Unumus it's my bug. I need to update the documentation. Please add Floki to mix.exs file to the dependencies section:

[code]

[2020-03-18 11:39] oltarasenko commented on #62
Also alternatively you could try Meeseeks, as it's shown here:
 1) https://github.com/oltarasenko/autosites/blob/master/mix.exs#L26
 2) https://github.com/oltarasenko/autosites/blob/master/lib/autosites/autotradercouk.ex

[2020-03-18 13:16] Unumus commented on #62
I added Floki to my deps. I still try to run an example code you present in the guides. I am on EslSpider right now.

[code]

The data did not stored, /tmp folder not been created.

The config file.

[code]

[2020-03-18 13:29] oltarasenko commented on #62
Oh, @Unumus could you please refer any existing folder in the `{Crawly.Pipelines.WriteToFile, extension: "jl", folder: "/tmp"}`

[2020-03-18 13:50] Ziinc commented on #62
If it is windows, specifying `folder: "/tmp"` would result in an error, if i'm not wrong, since it doesn't exist on windows. Without the `:folder` option, it should determine the temp folder path based on system.

@Unumus the behaviour (on unix) is such that it will create a file called `/tmp/MySpiderName.jl`

[2020-03-18 14:05] Unumus commented on #62
@oltarasenko when I refer to any existing folder except of /tmp I get the next error:
`
16:02:54.879 [error] Pipeline crash: Elixir.Crawly.Pipelines.WriteToFile, error: :error, reason: {:badmatch, {:error, :enoent}}, args: [extension: "jl", folder: "/test"]
`

[2020-03-18 14:13] Unumus commented on #62
I refer config to existed folder /test, created there the file EslSpider.jl. Not errors occur. However, the ESL table file is empty. I am on MacOS 10.15.3.

[2020-03-18 14:20] Unumus commented on #62
Sorry about last post I did not updated my iex after changes in file was saved.

When I refer to a existed folder I see the next errors:

[code]

[2020-03-18 14:44] oltarasenko commented on #62
Hello, sorry to double-check do you have the `/test` folder on your machine? Usually, it's not the case for Unix type systems. Another question is permissions.

Could you please do the following in your shell (bash, zsh): `ls -la /test`

[2020-03-18 14:46] oltarasenko commented on #62
Another question. What happens if you do:

[code]
in your iex?

[2020-03-18 14:53] Unumus commented on #62
[code]
However I can see the folder in my IDE
<img width="194" alt="Снимок экрана 2020-03-18 в 16 53 03" src="https://user-images.githubusercontent.com/52177550/76973677-f0f69b80-6938-11ea-9b09-50f260584698.png">

<img width="802" alt="Снимок экрана 2020-03-18 в 16 49 49" src="https://user-images.githubusercontent.com/52177550/76973357-7cbbf800-6938-11ea-8348-987cad00d6aa.png">

[2020-03-18 15:00] oltarasenko commented on #62
Ok, now it's clear. The folder you're seeing in IDE is not `/test` but your '<project path>/test`.

`{Crawly.Pipelines.WriteToFile, extension: "jl", folder: "/tmp"} ` -> should be absolute path.

Otherwise, what do you see if calling: `cat /tmp/EslSpider.jl`

[2020-03-18 16:21] Unumus commented on #62
@oltarasenko Oh, I did not expect this))It is work now. Thanks for the support!

[2020-03-18 20:36] Unumus opened #63 "What is recommended "concurent_request_per_domain" ?"
It looks like it easy to overflow queue. Entire system down.  This happen when I set concurrency more than ~20. What is the recommended setting of concurrency for Crawly? What is performance can you achieve with it?

[code]

[2020-03-19 07:09] oltarasenko commented on #63
@Unumus Normally I am using 5-10 connections to get ~200 - 300 items per minute on a local machine. The system is not supposed to shut down like this in any case. So let's explore the case and maybe improve Crawly's stability.

I would ask for the following information:
1. Crawly version
2. Spider code (if possible)
3. Your channel information
4. Some runtime information: how long the spider run,

[2020-03-19 10:53] Unumus commented on #63
After several tries, I got **not** identical behaviour.

[code]

My config file
[code]
The code here I played around the Homebase crawler.
[code]
<img width="1044" alt="Снимок экрана 2020-03-19 в 12 53 02" src="https://user-images.githubusercontent.com/52177550/77060056-a4669b00-69e0-11ea-9087-916974887c02.png">

[2020-03-19 11:00] oltarasenko commented on #63
Yes, this is the death of request storage, where the first thing looked like an error in hackney (e.g. hackney did not handle the empty queue outs). In any case I will try to reproduce the error locally to come with some improvements for the case. Otherwise, can you downgrade the concurrency to 10 to see how stable it is?

[2020-03-19 11:04] Unumus commented on #63
Before I reduce concurrency to 10. I should notice that I re-run the same spider with concurrency 100. This time it was finished normally.
[code]
But in the Tools.jl file have only **1112 scraped items.**

[2020-03-19 11:05] oltarasenko commented on #63
My current issue is that due to the COVID 19 I am at home with very basic internet connection. So it's hard to reproduce it. Could I ask you to commit it somewhere on github, so it's easy to just clone & run it.

[2020-03-19 11:13] Unumus commented on #63
Yes sure.

https://github.com/Unumus/for_oltarasenko

[2020-03-19 11:37] oltarasenko commented on #63
You need to tweak the closespider_itemcount: 1000,
E.g. try to have something like 10_000_000 there to see how it works..

Yeah, locally I can't get even a half of your speed, to see the error. I will be able to test once the COVID disaster ends... in the ideal scenario, luckily for us. However, I will try to invent a proper benchmarking system for Crawly.

[2020-03-19 12:32] Unumus commented on #63
I could scrape 7096 items, with concurrency of 100.

I will report new issue if they appear here.

[2020-03-19 12:33] Unumus opened #64 "Postgres instead of files."
I want to store scraped data in Postgres with help of Ecto of course.
Is there some best practice for this?

[2020-03-19 13:58] Ziinc commented on #64
You can see how to do so with a custom item pipeline, as demonstrated in the docs:

https://hexdocs.pm/crawly/basic_concepts.html#custom-item-pipelines

[2020-03-19 13:58] #64 closed

[2020-03-19 14:04] Ziinc commented on #62
Need to update docs to:
- [ ] update quick start version
- [ ] add floki/meeseeks as dependency

[2020-03-19 22:15] Unumus opened #65 "Proxy setup."
Hello!

When connecting to a proxy, my IP does not change. I am using ProxyMesh. When I try on my machine via OS Setting, connection by HTTPS are working fine. Does Crawly support HTTPS? Can it be a problem of the issue?

Here my config file:

[code]

To check an IPs of processes, I used this small module:
[code]

[2020-03-20 02:00] Ziinc commented on #65
You will need to add in request options for HTTPoison through the RequestOptions request module. The format needs to match the option format in the HTTPoison docs

https://hexdocs.pm/crawly/Crawly.Middlewares.RequestOptions.html

https://hexdocs.pm/httpoison/HTTPoison.Request.html#content

[2020-03-20 07:15] Ziinc commented on #65
@Unumus did you search through the docs before opening this issue? If you did but didnt' find the `RequestOptions` middleware, we might need to update the docs for it

[2020-03-20 09:03] oltarasenko commented on #65
@Ziinc I was also thinking about making an explicit example somewhere in docs...

[2020-03-20 12:34] Unumus commented on #65
@Ziinc, I searched. But not found. I think it will be helpful to mention here: https://hexdocs.pm/crawly/configuration.html#proxy-binary the middlewares to complete proxy configuration.

[2020-03-21 19:30] Ziinc commented on #65
@Unumus ah I see, the docs got out of sync, the proxy setting on :config is from an older version that is a breaking change. We'll need to update that.

@oltarasenko I think perhaps a few common use case examples can be shown in the middleware module doc?  Besides proxy, what others would be good?

- [ ] remove proxy setting from config.

[2020-03-24 14:42] Ziinc commented on #65
@oltarasenko You might need to do a patch release to update hexdocs

[2020-03-24 14:42] #65 closed

[2020-03-24 14:46] Ziinc commented on #63
In my own usage, this was also a mystery for me when I was setting up my crawler, as the close count is set by default. I think adding some logging to advise users to tweak this setting when the itemcount is reached would help

[2020-03-24 14:46] Ziinc commented on #62
docs has been updated. Pending patch release

[2020-03-24 14:46] #62 closed

[2020-03-24 14:59] oltarasenko commented on #63
@Unumus @Ziinc I kind of agree that 1000 is kind of strange and not intuitive at all. Shall we make it  disabled by default?

[2020-03-26 05:40] Ziinc commented on #63
Sounds good to disable. Maybe can replace it with reporting the total items scraped count, which, if I'm not wrong, is already stored in the worker state.

[2020-03-26 16:52] AoRakurai opened #69 "Is it possible to have a configuration per spider?"
I am currently running into an issue where one of my spider gets denied for making too many requests, and I would like to set the concurent requests for that specific spider to 1 without affecting the other spiders, so far I havent found a way to do this.

Currently the only way I see of achieving what I want is creating a separate application for each spider with each its own config, which doesnt

[2020-03-26 16:57] oltarasenko commented on #69
@AoRakurai not yet, but it's planned.

[2020-03-26 17:09] AoRakurai commented on #69
Thanks for the quick reply, this feature would really help me and my coworker out in our current project, are there any ways we could help you implement it?

[2020-03-26 17:11] oltarasenko commented on #69
I had a plan for it already, so it's possible to prioritize it. I will allocate time to this task next week. Will update the ticket accordingly

[2020-03-26 17:17] AoRakurai commented on #69
Awesome, thanks a lot. If we can help you let me know.

[2020-03-27 10:34] Ziinc commented on #69
@oltarasenko maybe a `use Crawly.Config` macro, declared at spider level? Or a `config/1` callback, where the callback receives the global config

[2020-03-27 14:28] Unumus commented on #69
@oltarasenko I, too, think this is an essential function.

[2020-03-27 14:33] Unumus commented on #63
@oltarasenko  Sorry for long reply, was busy with an other project.

Disabled it by default, it seems like a good idea!

[2020-03-27 14:45] Ziinc commented on #69
I'm personally leaning towards an optional `config/1` callback, which is more transparent for the dev. However, this can make simple overriding verbose and error prone.

Compare the following:
[code]

I don't have time to implement a PR for this, but the entire lifecycle of the config is isolated to the `worker.exs`. Some inbuilt middlewares/pipelines use `Application.get_env` to retrieve the conf

[2020-03-27 16:31] oltarasenko commented on #69
@Ziinc I will take this one.

Let me think a bit more about it. I am currently doing the Crawly Dashboard to manage spiders. (The project is going to be released separately). Basically, I would want to be able to schedule them with custom settings. For now, it does not feel right to hardcode settings in the spider code... E.g. in practice I saw quite a few cases when you need to slow down for exam

[2020-03-27 16:40] Unumus opened #70 "Ecto item pipeline configuration"
I have a problem with build the custom Ecto pipeline.
https://hexdocs.pm/crawly/basic_concepts.html#custom-item-pipelines

If I get it right, I need to define the pipeline module in my config.exs file to` pipelines:[] `section?
Also I miss understanding that does mean this part `MyApp.insert_with_ecto(item)` ? Do you mean Repo.insert here or what?
Can you please describe in more detail how should

[2020-03-27 17:20] Unumus commented on #69
@oltarasenko I can help with front-end on React/Gatsby for the dashboard. Let me know if you need a help.

[2020-03-27 18:45] oltarasenko commented on #69
@Unumus noted. I will invite you to the new repo, once I will have something to show. Honestly speaking I am moving towards Phoenix Live Views for the dashboard. I used them on a couple of commercial projects, and quite happy about what I saw there. However let's have a closer look later... *I am still a bit stack because of the COVID thingy, however hopefully will speed up soon!*

[2020-03-27 18:47] Ziinc commented on #70
For example, if you're combining it with an existing elixir app, your app would probably be organize by contexts. This `insert_with_ecto` function would then be a function within your app context. Your context would then do the changeset validation and perform the insert.

You could do a direct Repo.insert, depends on your integration context.

Are you trying to integrate into an existing app, or

[2020-03-27 19:06] Ziinc commented on #69
This would involve state persistence, and would involve some storage backend. I think this should be an opt in modular extension, as not all crawlers would be long-running.

With that being said, I think this can be achieved through passing the spider specific config at spider runtime when the spider is run with `Crawly.Engine.start_spider`. I personally have integrated this into the admin console

[2020-03-27 19:18] Ziinc commented on #69
Perhaps we can think of it in terms of overrides:
At each step, if config not found, fall back on next level:
1. Dynamically passed in options
2. Hardcoded spider config
3. Hardcoded global config

We should consider mid-crawl config change as a separate issue.

[2020-03-27 19:27] oltarasenko commented on #69
I also was thinking about this idea of extending the `start_spider`. But on the other hand... well I don't want to find myself passing middlewares and item pipelines this way... really.
I am still unsure about the best way. For now, I am reading how it's done in scrapy: https://docs.scrapy.org/en/latest/topics/settings.html

What do you think about the following idea:
![Untitled (2)](https://user-

[2020-03-27 20:50] oltarasenko commented on #69
@Ziinc @AoRakurai @Unumus I have sketched the implementation of the custom setting in https://github.com/oltarasenko/crawly/pull/72. As far as I see it's the fastest way to get started. Please let me know what do you think about the idea. If it sounds as a good start, I will proceed to update the Crawly code to use this Crawly.Util.get_setting/3 everywhere.

[2020-03-27 21:07] Ziinc commented on #69
The project settings on a per site/url basis does not seem like a good idea to me. For example I have 3 different spiders crawling different areas of the same site for different data.

I've had a look at the PR and I think it's in the right direction.

I think a better direction for stateful settings would be to let the spider callback  handle the fetching the state, such as fetching it from an ec

[2020-03-28 14:20] Unumus commented on #70
@Ziinc Thanks all works perfectly. It is was pretty simple :)

In the documentation, the Ecto example part, as I think, lacks one piece.  It is too necessary to update the pipelines in the crawly.config file.

[2020-03-28 14:49] Unumus commented on #69
@oltarasenko I will happy if we can avoid keeping spider settings in config.exs. Maybe we can add the fourth callback to the spider file with the settings?  I am not well familiar with the architecture of Crawly. However, many Elixir libraries use this approach.

[2020-03-28 15:17] #70 closed

[2020-03-29 02:39] AoRakurai commented on #69
@oltarasenko I will look at what you've done on monday and provide feedback.
I had another quick question after looking at the doc friday, I might have missed something but I havent seen a way to know when a spider finishes, is there a callback or something for that?

[2020-03-30 01:17] Ziinc commented on #69
@AoRakurai there is currently a rudimentary interface in `Crawly.Engine`. See [here](https://hexdocs.pm/crawly/Crawly.Engine.html#running_spiders/0). Improvements to spider management has been on the books , but isn't a priority right now #37

[2020-03-30 14:47] AoRakurai commented on #69
@oltarasenko I think it makes a lot of sense to have a 4th callback for this.

[2020-03-30 16:01] AoRakurai opened #74 "on_finish callback for spiders"
I believe a on_finish/0 optional callback would be very beneficial (I personnaly need to know when my spiders finish and I would rather not be poking Crawly.Engine every X seconds to check if my spider is still running using Crawly.Engine.running_spiders).

It can be called if it is defined prior to
    GenServer.call(__MODULE__, {:stop_spider, spider_name})
in Engine.

I have tested this change w

[2020-03-30 21:00] oltarasenko commented on #63
Ok, done!

[2020-03-30 21:00] #63 closed

[2020-03-31 05:27] Ziinc commented on #74
Seems easy for the Engine to run code that is beyond Crawly's context.

 What's wrong with polling the Engine for the Spider status? Seems like a good solution to me.

Another alternative is for the Engine to push messages on the spider status to a GenServer of choice.

[2020-03-31 06:09] oltarasenko commented on #74
@Ziinc I agree with @AoRakurai regarding the fact that it's better not to poll the status if it's possible. As I understand the desired function is to call a custom callback once the spider is exiting. It's similar to what we can find in [Scrapy](https://docs.scrapy.org/en/0.22/topics/signals.html). I was using it quite a lot when I was working with python and Scrapy, and I can agree it's useful.

[2020-03-31 15:28] AoRakurai commented on #74
That would make Crawly a good fit for a lot more use cases I believe. The fact there was no on_finish callback forced me fork it temporarily so I could keep using it in my project.

[2020-03-31 15:45] Ziinc commented on #74
I agree having event callbacks are useful and that a concerted effort to cover most/all events would be good. However I don't agree with having this as a specific callback on the spider.

If anything, this feels like something that should live in the settings, as an option. Then, with the custom_settings callback being implemented in #69 , hooking into the events would be as simple as doing
[code]

[2020-03-31 15:49] AoRakurai commented on #74
I agree that assuming settings can be implemented per spider, being able to define a on_spider_stop in settings would be ideal.

[2020-03-31 15:50] Ziinc commented on #74
Furthermore, I feel that these callback functions should be fired off using async Tasks, instead of synchronously.

https://hexdocs.pm/elixir/Task.html

[2020-03-31 16:00] oltarasenko commented on #74
Could you explain it?

[2020-03-31 17:45] Ziinc commented on #74
@oltarasenko since there isn't a need for the the callback to interact with the main engine process, the spawned Task process can be executed concurrently as a side effect.

A few benefits is:
- non-blocking
- thrown errors don't crash the main engine process
- have its own supervision tree, if necessary.

There's quite a few patterns for using Tasks in the docs, but I think just firing the callba

[2020-03-31 17:47] Ziinc commented on #74
Actually the docs recommends using a supervisor to oversee Tasks execution. So each callback can be executed as a Task when the event occurs.

[2020-04-01 17:47] Unumus opened #75 "Discussion: Store state for fault-tolerance crawler"
I think Postgres would be a good way to store the spider state to in case the system crash it can continue the crawling from there it was stoped.

Is there any recommendations or suggestions how to implement it in my current Crawly project?

[2020-04-01 18:34] Ziinc commented on #75
You can use a custom pipeline to update your database tables with your scraped data.

When your spiders are started, your starting urls can then be queried from the database.

You can use an ecto-based job queue like [Honeydew](https://github.com/koudelka/honeydew) to poll your database for things to be scraped and startup the relevant spiders accordingly. Or you can use Mnesia to persist state.

[2020-04-02 07:05] oltarasenko commented on #69
@AoRakurai please also have a look on: https://github.com/oltarasenko/crawly/pull/72

[2020-04-02 16:13] Unumus opened #76 "Build association within scraped data"
Hello!
I looking the way to associate scraped data, I do it with Ecto however stuck. Do you guys can help me with it?

Link to the original post here:  https://elixirforum.com/t/how-should-i-use-put-assoc-with-upsert-many-to-many/30315

[2020-04-02 22:23] Unumus commented on #76
Seems like this module did helped. Is there a better option?
[code]

[2020-04-03 02:17] AoRakurai commented on #69
I will have a look at #72 again tomorow, what kind of feedback are you expecting?

[2020-04-03 07:05] Unumus commented on #75
@Ziinc Thanks again. Soon will do.

[2020-04-03 22:20] s0kil opened #77 "Downloading Files"
Are there any examples of saving multiple files? For example, saving multiple images for each Crawly request. So far I came across the `WriteToFile` pipeline which seems to be used for saving data into one file, CSV, JSON, etc.

[2020-04-03 22:59] s0kil commented on #77
If you do not mind, could you also mention streaming large files to disk.

[2020-04-04 06:46] Ziinc commented on #77
https://stackoverflow.com/questions/30267943/elixir-download-a-file-image-from-a-url

Use a custom pipeline to manage the downloading . In your spider, scrape the media urls and pass it as a nested map key. Then pattern match on it.

https://hexdocs.pm/crawly/basic_concepts.html#custom-item-pipelines.

Crawly processes the items sequentially, but for long downloads you might want to offload it to

[2020-04-05 17:13] oltarasenko commented on #77
@s0kil I think @Ziinc gave a good answer, pipeline is a good way to go! Otherwise, in my own projects, I am downloading media from the `parse_item` callback directly. Crawly is a queue management system itself, so technically your worker will just spend a  bit more time downloading the image, that's it.

@Ziinc shall we create a pipeline capable for autodowloading images? e.g. `{Crawly.Pipelines.D

[2020-04-05 17:21] s0kil commented on #77
@oltarasenko Will downloading a larger file in `parse_item` block the spider from continuing to crawl and parse?

[2020-04-05 17:33] oltarasenko commented on #77
No, it does not block the Crawly itself, just one worker which is downloading something, but all other workers are operational. (Comparing it with Scrapy, where non-reactor based downloads will block the world, Crawly operates without problems)

[2020-04-05 17:40] s0kil commented on #77
Is it too much to ask for an example project such https://github.com/oltarasenko/crawly-spider-example, saving the blog posts into each individual file?

[2020-04-05 18:03] Ziinc commented on #77
@oltarasenko sounds like a good idea, i'll think a bit more about the api and update here. I should have time for it in the coming weeks.

@s0kil i think it would be more appropriate to have a how-to article in the docs. There are some inherent issues with having many example repos, such as maintenance and keeping them in sync.

[2020-04-07 01:46] Ziinc commented on #69
Has been merged into master with #72, props to @oltarasenko 🎉🎉

[2020-04-07 01:46] #69 closed

[2020-04-07 19:11] AoRakurai commented on #69
Thanks a lot @oltarasenko

[2020-04-07 20:43] oltarasenko commented on #74
Ok, I think this will be the last issue which will form the 0.9.0 Crawly release. I will prepare a rollout as soon as we will find the common vision on the solution of the problem.

[2020-04-08 15:13] Ziinc commented on #76
Try using [cast_assoc](https://hexdocs.pm/ecto/Ecto.Changeset.html#cast_assoc/3) for inserting new assocs

[2020-04-09 11:23] oltarasenko commented on #74
Ok, now the related PR is merged. I will run the release procedure soon.

[2020-04-10 17:04] Unumus commented on #69
Sorry, that re-open ticket, but how can I apply these changes?
I used the callback custom_settings and put params into the list. But not changes are applied. Should I update the crawly or what?

[2020-04-10 17:12] oltarasenko commented on #69
This feature is going to be released with the next version of Crawly (0.9.0). The release is going to happen on Tuesday (after the Easter holidays)

[2020-04-11 21:39] Unumus opened #80 "How to use Crawly when not need to collect links?"
I have in Database about 250k URLs that need to enrich. Go to every link of the list and parse its HTML. Is there a good way how to feed them to Crawly queue? Is it suitable to use Crawly in this case?

[2020-04-12 08:50] Ziinc commented on #80
I've faced this issue as well. My temporary solution is have a database query in the `init` callback that fetches the urls and passes it in as a list.

My only main concern is that the size of the list could be memory-intensive, and for large amounts it would be better to use a Stream instead to let the worker iterate over it indefinitely.

[2020-04-12 08:58] Unumus commented on #80
@Ziinc I did try it too, however did not found that to put instead of requests in %Crawly.ParsedItem{}?

[2020-04-12 10:08] Ziinc commented on #80
@Unumus You don't have to return new requests in this case. If you load up all the urls that you want to hit at the Spider.Init, then you don't need to add on new urls (unless you are inserting new ones)

[2020-04-12 11:36] Unumus opened #81 "How can I connect Proxy to Splash?"
Is there an option to add a proxy in Splash from Crawly?

[2020-04-12 11:45] oltarasenko commented on #80
@Ziinc @Unumus I was using Crawly for the task of URLs monitoring as well. In general, my observations is the following:
1. The main concern is parse_item. You should be able to extract data out of the URLs (especially if we're talking about a large list of sites
2. You could disable the Domain Filter middleware to extract data from multiple sources
3. As was mentioned by @Ziinc the init is not th

[2020-04-12 11:46] Unumus commented on #80
@Ziinc I use Proxy pool. Will in that case be done isolated request from a new IPs or not? Just seems that in my case requests go from the same IP.

[2020-04-12 11:54] oltarasenko commented on #81
As soon as requests are executed by splash, the proxy needs to be configured there. Please see: https://splash.readthedocs.io/en/stable/api.html#proxy-profiles

[2020-04-12 13:10] Ziinc commented on #80
If you load it up through the init, the requests generated should pass through the middlewares declared. It depends on how you are assigning proxies from your pool. If it's through the middleware, it shouldn't be an issue

[2020-04-12 13:16] Ziinc commented on #80
@oltarasenko perhaps we could init the spider with a stream, then the worker maintains maybe 1000 requests in the RequestsStorage by popping off more urls from the stream as requests get fetched?

[2020-04-12 13:23] oltarasenko commented on #80
@Ziinc init is a simple way of starting with something, now it just sends the request to request storage. Having a stream instead would require us to build a complicated logic there. Again what is the problem of reading the stream from the `parse_item/1` instead of `init/0`?

[2020-04-12 13:54] Unumus commented on #80
@Ziinc yes I use the middleware however, each worker always operate on the same IP, and its IP do not changes during runtime.

[2020-04-12 14:50] Ziinc commented on #80
@oltarasenko I'm wary of placing any database logic in `parse_item/1`, as it would mean tens or hundreds of thousands of unnecessary queries against the database. This multiplies the more spiders there are that are running concurrently.

Maybe a good approach would be to leverage the new callback api to "inject" requests into the RequestsStorage? If a callback receives the RequestsStorage state, t

[2020-04-12 15:30] oltarasenko commented on #80
@Ziinc But in this case, it should be also possible to have an intermediate process that makes queries. So the `parse_item/1` does something like <cache>.get() or <cache>.fetch(). It would not only allow limiting the number of queries to the database, but also would allow solving the problem of processing each entry once only.

Conceptually I think it's a job of parse_item to fill the requests sto

[2020-04-12 15:39] Ziinc commented on #80
Which is why i suggested to @Unumus to do it in the `init`, because there isn't a way to limit the number of queries to the db if inserting through `parse_item/1`. Having access to the RequestsStorage state might help with adding limit logic in  `parse_item/1`.

I don't really think this is all that important, it is more of a "quality of life" or "spider management" issue, more for #37

[2020-04-12 21:42] Unumus commented on #80
Proxy works now as accepted.

But have a new issue, about that approach. Spider work 1-2min perfectly, and after that just stoped. Can it be stoped because of items not coming into pipeline?

[code]

[code]

[2020-04-13 04:53] oltarasenko commented on #80
@Unumus your spider is not extracting items. Thats the reason why its stopped. See also: https://hexdocs.pm/crawly/configuration.html#closespider_timeout-pos_integer

[2020-04-13 06:30] Unumus commented on #80
@oltarasenko I already tried a different settings of closespider_timeout and itemcount.
The behaviour is same. What is in your opinion should I indicate there?

[code]

[2020-04-13 06:44] Unumus commented on #80
I see, changes nil to 0 and seems it is not stop more. It seems to me a not intuitive. Because of in documentation saids that default is nil - and seems that if this is nil then the crawler will not be stoped by default.

[2020-04-13 07:34] oltarasenko commented on #80
@Unumus the new version should improve the intuitivity of the setting. From my point of view, the closespider_timeout  should never be nil, as it would mean that the crawling process will run forever. Try setting it to low numbers like 2-4 (e.g. it should extract at least 2 items per minute).

Note: Your crawler is not extracting items, that's the reason of stop. E.g. please check the parse_item f

[2020-04-13 07:43] Unumus commented on #80
@oltarasenko I do not use pipelines, I insert the data directly to my Postgres. The question is concerned with that issue "How to use Crawly when not need to collect links?".

 So the items per minute are always = 0. Everything works fine now. Happy.

[2020-04-13 07:58] oltarasenko commented on #80
@Unumus are you inserting the data directly from the parse_item, without returning items, right? (Otherwise, items are being counted by the ItemsStorage process, which stands at the end of all pipelines e.g. parse_item -> pipeline1 -> pipelineN -> storage, if you don't have pipelines enabled it goes like parse_item -> items_storage).

However, I am happy to know that it works.

[2020-04-13 08:24] Ziinc commented on #80
Insert data in a custom pipeline, not in the parse_items callback.

[2020-04-13 11:04] Unumus commented on #80
@oltarasenko in parse_item I return a "fake" map like that `%{item: response.body}` because otherwise Crawly complains, and above that map I send the scraped data into Ecto module.

Did not see any problem with performance right now. Only that code looks not clear enough.  But I did not tried yet put into the queue list with more than 250k records.

[2020-04-13 11:50] oltarasenko commented on #80
@Unumus technically you should return a https://github.com/oltarasenko/crawly/blob/master/lib/crawly/parsed_item.ex from the `parse_item/1`.

[2020-04-13 11:59] #74 closed

[2020-04-13 12:00] #75 closed

[2020-04-13 12:01] Unumus commented on #80
@oltrasenko yes I know just in that case I do not need it, so I decide just return a map, because of I do not need the request parameter, but the datastruct required it. And if I not wrong I got some errors when put some fake data such as empty lists and so on, into %Crawly.ParsedItem{}.
Need some other solution. To be possible to use Crawly engine.

[2020-04-13 12:04] oltarasenko commented on #80
Sorry, and what do you get if something like `%Crawly.ParsedItem{requests=[], items=[my_items_list]}` is returned? You don't really need to add new links or items from the parse_item. You can actually return just `%Crawly.ParsedItem{requests=[], items=[]}` if you want

[2020-04-13 12:06] Ziinc commented on #81
Note that you can provide the proxy option as a query string on a per-request basis.

https://splash.readthedocs.io/en/stable/api.html

This involves setting the `proxy` option on Splash fetcher declaration.

The options are passed as query_params to the Splash HTTP api.

https://github.com/oltarasenko/crawly/blob/deb06c31bb2982bd27a2dace1953a03f2bfbe33d/lib/crawly/fetchers/splash.ex#L45

[2020-04-13 12:06] #81 closed

[2020-04-13 12:06] #76 closed

[2020-04-13 12:12] Unumus commented on #80
@oltarasenko sorry, %Crawly.ParsedItem{requests: [], items: []} works now. Thanks, it looks better now.

[2020-04-13 12:17] oltarasenko commented on #80
You could even fake it a bit more with something like %Crawly.ParsedItem{requests: [], items: [:fake_item]}, so crawly will still get items from every request. However, I think you should do what @Ziinc is advising...

[2020-04-13 12:17] Unumus opened #82 "Why Crawly do not use Poolboy library?"
It might look a little offtopic. This question interesting for me in in terms of my education.

Is there some reason why Crawly do not use Poolboy library?

[2020-04-13 13:13] Unumus commented on #80
@oltarasenko Thanks! I will try to do it with custom pipeline.

[2020-04-14 09:31] Unumus commented on #80
@oltarasenko it will be advantageous if we can add an option in init() callback, to provide a state if it required, into parse_item.

`[start_urls: urls, state: state] = spider_name.init()`

[2020-04-14 10:21] oltarasenko commented on #82
Hi @Unumus

It's a bit offtopic indeed. I was using Poolboy on a couple of projects, and I would confirm that this is a solid library. However, due to the fact that Crawly is built on the top of queues and pools, I decided to make something more flexible and suitable for my needs.

[2020-04-14 10:21] #82 closed

[2020-04-14 10:23] oltarasenko commented on #80
Sorry, could you explain more? Can we do it in a separate topic if it's not related?

[2020-04-14 11:36] oltarasenko commented on #74
@AoRakurai This is released now!

[2020-04-14 11:37] oltarasenko commented on #69
@AoRakurai @Unumus This feature is released now!

[2020-04-14 13:25] oltarasenko commented on #42
I think this issue is done now

[2020-04-14 13:25] #42 closed

[2020-04-14 13:42] Unumus commented on #80
@oltarasenko  I have a pipeline which I wrote in the first post of that issue.

I put the list of URLs to init(). The source of the links is Postgres.

Notable is that the initial table holds some state which needs to share with the new spider(such us ID to build association).

I need a way to get that data in the `parse_item/1`. I think it will be useful if it will become `parse_Item/2 ` instead,

[2020-04-14 16:10] Ziinc commented on #80
In the pipeline, why can't you query on your url and update the records that match? If the urls already act as a primary key, it makes the state passing just to have the id a bit redundant.

Also, passing the arbitrary state around is like playing hot potato where you don't really know what is in the potato. Error prone and not very efficient.

[2020-04-14 17:54] Unumus commented on #80
@Ziinc

The parent table do not contain the link. I generate this link from the company name.

However do not found a good reason why do not extract that company name from the link and build association. Thanks!

[2020-04-14 19:17] Unumus commented on #80
Moreover I found that can put parent id in UTM.

[2020-04-15 15:18] michaltrzcinka opened #83 "I would like to contribute to this project"
Hello,
I've learned the basics of Elixir and OTP and created an online card game with Phoenix (including sockets, channels and presence). I'd like to contribute to this project to gain more experience in Elixir.
Do you have any task I could help with? I've seen on your roadmap that you want a UI for jobs management, seems like an interesting feature to build.

[2020-04-16 09:13] lucaong commented on #75
Pitching in to mention [CubQ](https://hexdocs.pm/cubq/CubQ.html) as a way to implement durable queues in an embedded database. Full disclaimer: I am the author of the library. I created it mostly for embedded software scenarios, but I think it would fit well for keeping a crawler queue too.

[2020-04-16 11:08] oltarasenko commented on #83
Hi @michaltrzcinka you're more than welcome to contribute! The current roadmap is almost implemented, and I am currently thinking of the new targets.
Also, the UI part for jobs management is currently in the "almost-ready" state, and I will invite you to it separately (hopefully in a couple of weeks from now).

So at this point I would want to suggest the following directions:
1) Follow the tutori

[2020-04-16 21:16] rnice01 opened #84 "Docs for configuring Splash Fetcher should be base_url not base_splash_url"
Docs for Basic Concepts and configuring Splash fetcher state the configuration should be
`fetcher: {Crawly.Fetchers.Splash, [base_splash_url: "http://localhost:8050/render.html"]}`

However, the fetch method is looking for the `base_url` keyword in the config. As seen [here](https://github.com/oltarasenko/crawly/blob/407fa8e6beddf1ff831334672898f1f37785b720/lib/crawly/fetchers/splash.ex#L32)

The

[2020-04-17 09:44] michaltrzcinka commented on #83
Hi @oltarasenko, thanks for all the tips. I will start with the first 2-3 tasks, they look like a great way to get started.

[2020-04-19 07:02] Ziinc commented on #75
For improved fault tolerance, usage of persistent queues for requests/ScrapedItems would definitely be good.

However, this would involve an additional dependency, and it would be hard to argue for CubQ (backed by CubDb) over other more established queue libraries backed by Mnesia.

[2020-04-19 07:04] Ziinc commented on #75
I don't think that there is a strong case for improving fault tolerance and stability now when there are other features to be implemented.

Perhaps in the future, we can reopen this when there is  a v1.

[2020-04-19 08:10] Ziinc commented on #84
It seems like there a lot of documentation errors. I'll do up a PR to consolidate efforts from #85 as well.

[2020-04-20 11:05] michaltrzcinka commented on #83
Concerning point 2, I'm wondering if maybe we could merge all these four repositories with examples into one? It will be easier to maintain and use.

[2020-04-21 12:15] oltarasenko commented on #83
Yes, that sounds good. Maybe we don't need that many similar examples as well.

[2020-04-21 13:34] Ziinc commented on #83
You could place the examples in an examples dir in this repo to keep everything in sync

[2020-04-21 17:41] Ziinc commented on #77
@s0kil could you give some info on how you are working around the downloading of files now?

[2020-04-22 11:47] michaltrzcinka commented on #83
@Ziinc I went with moving everything into https://github.com/oltarasenko/crawly-spider-example
Please check out my PR https://github.com/oltarasenko/crawly-spider-example/pull/4
Maybe we could rename the repo to `crawly-examples`?

[2020-04-22 11:54] michaltrzcinka commented on #77
Just a heads-up - I've started working on such generic pipeline today.

[2020-04-22 14:24] s0kil commented on #77
@Ziinc I could not get it working yet.

[2020-04-27 08:15] oltarasenko opened #89 "Announcement: Crawly UI, first early prototype"
Hey people,

I have spent quite a bit of time prototyping a UI for Crawly. I think it's the next step we have to make in order to make Crawly visible in the Elixir and Web crawling space.

A good UI would help to convert web scraping into a process with clear create - test - use circles. Please have a glance on the early prototype here:
https://github.com/oltarasenko/crawly_ui

or test it here: ht

[2020-04-27 09:25] Vesuvium opened #91 "WriteFile folder option improvements"
Hi everyone! I've been using crawly recently and I found the folder option a bit confusing.

The folder is always set as `/tmp` which makes think that only absolute paths are allowed. A single example with a local or `~` path would make things clearer, for example here in the last one: https://hexdocs.pm/crawly/Crawly.Pipelines.WriteToFile.html

The other thing that bugs me is that the folder has

[2020-04-27 09:33] Vesuvium opened #92 "Improvements to output file names of spiders"
Right now the file name is the spider's module name and there's no way to configure it. Because the file name is static, previous data is overwritten, where as scrapers usually add a timestamp to the file name. That would be very nice because in this way previous results are automatically retained and it's immediate when the parsing was done.

Spiders could have an optional `name` method which cou

[2020-04-27 09:48] Vesuvium opened #93 "WriteFile produces invalid json"
When writing json, WriteFile produces invalid json, as it uses a newline to separate items.

[code]

The items should be in a list, comma separated:
[code]

[2020-04-27 11:08] oltarasenko commented on #93
Well it produces JSON lines not JSON. See also https://hackernoon.com/json-lines-format-76353b4e588d

[2020-04-27 11:08] oltarasenko commented on #93
@Vesuvium I plan to close this ticket if you don't have other comments

[2020-04-27 11:09] oltarasenko commented on #92
A good thing to do. We will include it to the roadmap!

[2020-04-27 11:38] Ziinc commented on #91
It actually defaults to the current folder.

Documentation should be fixed

[2020-04-27 11:38] Ziinc commented on #91
And the folder option is optional, it doesn't always need to be declared.

[2020-04-27 15:38] Vesuvium commented on #93
Ah right, thanks for the explanation. Yes, it can be closed.

[2020-04-27 15:38] #93 closed

[2020-04-28 15:14] Ziinc commented on #89
Really dig the new logo. The ui looks great, though i notice that its not responsive on mobile yet.

[2020-04-28 15:34] oltarasenko commented on #89
@Ziinc Well, maybe walmart is a bad example. It has banned Crawly, without proxies it's a complex target. I am looking for a more simple but large site to showcase it

[2020-04-28 16:45] Ziinc commented on #89
I think it is because there isn't rate limiting. It was scraping fine when I tried it.

Their anomaly detection probably kicks in due to the high hit rate.

[2020-04-28 16:47] oltarasenko commented on #89
Yes it works atm. The crawl speed is quite low. Only 2 concurrent
connections.

On Tue, Apr 28, 2020 at 6:46 PM Ziinc <notifications@github.com> wrote:

[2020-04-29 14:02] oltarasenko commented on #84
This is done now!

[2020-04-29 14:02] #84 closed

[2020-05-06 08:03] ahsandar opened #95 "INFO: How to scrape a API using POST method calls"
How to scrape a API using POST method calls, are there any examples or docs. Any sample code would be nice. Thanks

[2020-05-06 09:15] Ziinc commented on #95
You can create a custom fetcher that uses the Poison.post function and then override settings in the spider.

[2020-05-06 09:21] ahsandar commented on #95
Thanks for the response as I am new to Elixir and never used crawly would you happen to have a sample. I can there are plenty of samples around scrapping website but none covering this use case.

[2020-05-06 09:37] Ziinc commented on #95
Fetcher docs: https://hexdocs.pm/crawly/Crawly.Fetchers.Fetcher.html#content

Example fetcher: https://github.com/oltarasenko/crawly/blob/master/lib/crawly/fetchers/httpoison_fetcher.ex

override_settings callback: https://hexdocs.pm/crawly/Crawly.Spider.html#c:override_settings/0

override_settings example: https://github.com/oltarasenko/crawly/blob/7bf04b0f23e02c9bc7c5b12dc962efb25ca88371/test/s

[2020-05-06 16:43] oltarasenko commented on #95
@Ziinc thanks for helping!

@ahsandar But why do you need to use POST requests? Otherwise, if it's about fetching ajax parts of your page, you could try to use the browser rendering approach!

[2020-05-06 21:29] ahsandar commented on #95
@oltarasenko i am looking for fetching data from APIs not in websites which could be using POST. As I want to use same tool to consistently use to collect data from websites and APIs and Crawly looks to be a great tool to achieve this

[2020-05-07 18:09] oltarasenko commented on #80
I am closing this one. I think it's resolved now. Please reopen if you think it's not the case

[2020-05-07 18:09] #80 closed

[2020-05-09 17:51] oltarasenko commented on #89
Ok, now we have a PR. I will close this ticket now

[2020-05-09 17:51] #89 closed

[2020-05-12 07:55] oltarasenko commented on #95
I would assume this is resolved now. Please re-open if it's not the case!

[2020-05-12 07:55] #95 closed

[2020-05-12 11:38] oltarasenko commented on #83
@michaltrzcinka I wonder if you are available to create a few extra spiders for the CrawlyUI demo (https://github.com/oltarasenko/crawly_ui/tree/master/examples)? For now I have just one Walmart, but I would love to have few other sites added to the list. Is that something I can ask you to take a look on?

[2020-05-12 11:46] oltarasenko opened #99 "Add lightweight UI for Crawly Management"
As it was discussed here: https://github.com/oltarasenko/crawly/pull/97#issuecomment-626565242
we want to build a lightweight (probably HTTP based) UI for the single node based Crawly operations. For people who don't want (or don't need) to use more complex https://github.com/oltarasenko/crawly_ui.

As far as we see it now we need to develop a Lightweight HTTP client (alternatively we might look i

[2020-05-13 06:26] michaltrzcinka commented on #83
Hi, I just started a new job and won’t be able to help any time soon...

[2020-05-13 07:23] oltarasenko commented on #83
Ok, that's great! My congratulations!

In this case, I wish you all the best with the job, and I want to thank you for contributions!

[2020-05-13 09:04] oltarasenko opened #101 "Splitting spider logs"
One of the concerns I want to address in the new milestone is Logs.
We need to be able to split logs per spider if requested. It would allow us to have spider logs in one place. Understanding the performance of the job, and what was dropped for example, etc.

As I see it should be quite similar to: https://docs.scrapy.org/en/latest/topics/logging.html

@Ziinc I wonder if you have solved this probl

[2020-05-13 11:54] michaltrzcinka commented on #83
Thank you :) I would like to come back and help you out, but this can happen probably in a few months.

[2020-05-13 17:41] Ziinc commented on #101
Right now my crawler logs are getting swallowed up into the void  and mixed with application logs.

from my understanding, Logger can be configured to with additional backends.
There's a file backend package here: https://github.com/onkel-dirtus/logger_file_backend
Log rotation isn't included, though.

It would be interesting to log realtime errors to the web ui like how the new phoenix liveview a

[2020-05-13 17:53] Ziinc commented on #99
I don't think it'll be good to replicate efforts with a separate ui solution, as much of the functionality is already in the crawly_ui repo. I think slowly breaking up the repo would take the least effort.

For example, the large scale crawling can have `:crawly`, `:crawly_repo` (ecto interface) , `:crawly_webui` (phoenix interface) as deps, while having the same functionality as the current crawl

[2020-05-14 08:57] #83 closed

[2020-05-16 14:24] Ziinc commented on #48
I think with the macro being used, code gen would not be as useful as the boilerplate is quite minimal now. Even for pipelines, it is simply one function to be implemented. Closing for now

[2020-05-16 14:24] #48 closed

[2020-05-16 14:31] Ziinc commented on #37
Tentative scope:
- start spider (implemented)
- stop spider (implemented)
- start all spiders
- stop all spiders
- spider stats (crawl count, overridden settings, request count, storage count, crawl speed, drop count)
- list all spiders
- schedule spider to start at specific time (maybe cron style scheduling?)

[2020-05-16 14:33] Ziinc commented on #77
@oltarasenko I will implement a generic task execution process as mentioned here https://github.com/oltarasenko/crawly/pull/88#issuecomment-626103255 for pipelines to hook into.

[2020-05-16 14:37] Ziinc commented on #52
Perhaps instead of having a completely separate function, we can extend the fetch function to have a :with option for passing in the spider?

[2020-05-17 18:58] oltarasenko opened #102 "Tag jobs with unique id"
One of the common problems I am facing right now, if that it's not possible to separate one crawly's job from another, from the external point of view.

E.g. the same spider can be executed multiple times. How do we know that the data came exactly from a given run? For example here: http://18.216.221.122/ in order to group items inside a UI we need to have an ID to unite them.

I plan to:
1. Exten

[2020-05-17 19:32] Ziinc commented on #102
It is feasible and logical to have it. I think using the term crawl would be better.i.e. Giving each crawl attempt an id. Job could refer to many things.

Could be used for the WriteToFile filename too, instead of timestamps.

A simple id could be a 13 digit Unix timestamp. I don't think uuids are needed.

[2020-05-17 19:35] oltarasenko commented on #102
I like the idea of `crawl_id`.

Otherwise, I don't see why should not we have it as UUID? E.g. uuid is already in our list of deps. So it's not like we have to add something in order to have it.

[2020-05-17 20:09] oltarasenko commented on #92
This is now merged to master branch. @Vesuvium it will be included in the 0.10.0 release which will happen tomorrow.

[2020-05-17 20:12] oltarasenko commented on #37
@Ziinc I am thinking of making a major release of Crawly (aka v1.0.0). I think after a year of development and releases it's time to do that (I am seeing that our competitors: https://github.com/fredwu/crawler and https://github.com/Anonyfox/elixir-scrape have already reached their stable state and version, so I am tempted to do the same.

Saying this I would add that I think this is the last tick

[2020-05-18 07:29] Ziinc commented on #37
After 0.11.0? I think you should only bump the major version when the api scope has stabilized. Right now there are still quite a few areas that are incomplete and may result in api changes.

Not much use comparing to other projects, as they have been around longer.

[2020-05-18 07:39] oltarasenko commented on #37
@Ziinc yes we need to aim to get 1.0.0 release. It's a bit hard to push Crawly into production for larger products atm. The fact that we don't have a first stable major release hints that the framework is still in the testing stage. People are constantly saying that it's not stable.

I agree regarding the API stability. We need to achieve it, however it looks like, psychologically speaking we need

[2020-05-18 08:59] oltarasenko commented on #92
Released

[2020-05-18 08:59] #92 closed

[2020-05-18 09:00] oltarasenko commented on #91
Released

[2020-05-18 09:00] #91 closed

[2020-05-19 10:51] Ziinc opened #109 "Spider scheduling for continuous crawling"
I'm looking to do cron-style spider scheduling, where the engine starts the spider if it is not running at a scheduled timing interval.

Should this be within the Engine or Commander (?) module context?

This would require the Engine to be part of a supervision tree, I think.

[2020-05-19 10:52] Ziinc opened #110 "Request throttling"
This feature would involve rate limiting of requests made by a spider, such as X requests per min.

[2020-05-19 10:54] oltarasenko commented on #110
Request limiting is achieved by the number of workers atm. Could you explain why it does not meet your needs?

[2020-05-19 10:56] oltarasenko commented on #109
What about using cron to schedule the run through the HTTP API?

Otherwise, I am using https://github.com/quantum-elixir/quantum-core for crawly_ui.

[2020-05-19 12:51] Ziinc commented on #109
Yea i was looking at quantum-core as well. I was wondering if this functionality should be in-built, or is it out of scope.

I prefer to keep everything self-contained, hence not actually using cron.

[2020-05-19 12:56] Ziinc commented on #110
Yes currently I drop the worker count to one, but it still averages 60~70 requests per minute, which is still a tad too high for my liking. That is over 3600 requests per hour, which would likely be flagged out in anomaly-based firewall systems.

So far I haven't had much issue, but it would be nice to have granular control over the requests/min.

Perhaps tag this as a "nice-to-have"?

[2020-05-19 13:32] oltarasenko commented on #110
Wow. I can't get more than 50 rpm from two workers on the CrawlyUI demo for an example.

I was not expecting it to be a problem, but indeed, it should be fixed.
A worker does a request once per 300 microseconds (https://github.com/oltarasenko/crawly/blob/master/lib/crawly/worker.ex#L11). Usually, the HTTP part is a bottleneck here. However, we can make it configurable. Let me implement this quickl

[2020-05-19 14:20] Ziinc commented on #110
It isn't urgent, no need to rush it. Its just something I noticed and was on my mind since we had the discussion in Jan about how requests were fetched https://github.com/oltarasenko/crawly/pull/39#issuecomment-569094229 as this type of throttling customization could be achieved through a a "pipeline" module between the fetching and then datastorage portion in the diagram.

For example, I could do

[2020-05-19 14:28] oltarasenko commented on #110
@Ziinc Actually I don't want to have the flexibility of assigning a given speed to a given worker. It will produce unpredictable results when different workers will have different speeds. So it will be hard to reason why something is faster and something is slower.

Currently, my mind suggests me to hardcode the worker's speed at some value. For all workers. E.g. we can have 5 requests per minute

[2020-05-19 19:27] oltarasenko commented on #110
@Ziinc I have made this: https://github.com/oltarasenko/crawly/pull/111

Hopefully, it could improve your case.

[2020-05-21 08:51] Ziinc commented on #110
Many thanks, so adjusting the request rate will be based on # of workers? an interesting approach. Will review the PR

[2020-05-27 04:41] #110 closed

[2020-05-27 04:41] Ziinc commented on #109
Will handle this outside of crawly

[2020-05-27 04:41] #109 closed

[2020-06-02 08:02] oltarasenko opened #112 "Improve user agents database"
A lot of my crawl depends on proper user-agent strings. It's a bit hard to supply user agents using a config as we're doing now. It would be good to have a database of user agents and to pick user agents from it. I am thinking of a standalone application with a simple interface, which then could be integrated into crawly.

We could get a database from:http://www.useragentstring.com/pages/api.php o

[2020-07-01 17:50] untoldbyte opened #115 "Add browser rendering using headless chrome"
Hi

We can replace splash with headless chrome via puppeteer

[2020-07-03 17:11] sreecodeslayer commented on #112
Hey @oltarasenko , just stumbled upon this issue today. I'd suggest [Faker's internet UserAgent](https://hexdocs.pm/faker/Faker.Internet.UserAgent.html) module!
Let me know if you need help, i'll try to chip in a PR if possible!

[2020-07-03 19:44] oltarasenko commented on #112
@sreecodeslayer Looks very promising. Please try to sketch a PR. I will be able to help if needed.

[2020-07-04 05:14] sreecodeslayer commented on #112
Sure, I'll try this over the weekend!

Am thinking of having two ways of configuration for this.
1. The users should have an option to set default list of user-agents that they wish to use, under configuration. The items from the list can then be chosen randomly when setting up request options.
2. By default, Crawly should fallback to an item from `Faker.Internet.UserAgent`. Now one thing to be aw

[2020-07-04 20:28] oltarasenko commented on #112
From practice:
Sometimes it's a pain to find an appropriate set of user agents for a given website :( Just as you have stated, they would render something completely different in some cases. Also in some cases, we were pretending to be old android devices, which allowed to query API directly.

So what I want to have:
1. Possibility to override user agent strings with just string (as it's done now)

[2020-07-10 20:48] dkgitdev commented on #112
Here's what I got from powershell on my Russian-based Windows 2004 (19041.29)

![изображение](https://user-images.githubusercontent.com/36101416/87201668-b9589880-c307-11ea-9f22-d1d69bed4257.png)

I suggest using this arrow as a middle one -- ⇒ -- it's 8658 in ASCII

[2020-08-31 17:20] Ziinc commented on #115
@untoldbyte what is the use case for using puppeteer to render the html? do you require page interaction?

[2020-08-31 17:25] Ziinc commented on #101
@oltarasenko the simplest method to do this would be to use [Logger's metadata](https://hexdocs.pm/logger/Logger.html#module-metadata) to specify spider name and job ids (#102 ) , and allow the user to filter the logs with the [logger file backend](https://github.com/onkel-dirtus/logger_file_backend).

It keeps Crawly's scope limited, while we can bless the logger backend filtering method as recom

[2020-08-31 18:19] untoldbyte commented on #115
yes

[2020-09-01 03:42] Ziinc commented on #115
is there any specific reason why chrome/puppeteer instead of selenium?

[2020-09-01 06:59] oltarasenko commented on #115
@Ziinc we also did not use Selenium for real scraping back in time when I was working with scrapy. My personal vision of it:
1. It was not stable enough (e.g. some sudden hangings)
2. It did not allow to modify headers of the request: https://github.com/seleniumhq/selenium-google-code-issue-archive/issues/141

So my understanding that selenium is not suitable for web crawling. At least was not sui

[2020-09-01 08:04] Ziinc commented on #115
While there is no doubt that puppeteer would be great for browser automation and there isn't much browser monoculture issues (since they are adding in firefox soon), I am not particularly against adding puppeteer as a Fetcher module. I am only concerned about how we would reconcile the page interaction and html parsing.

The key pain point to resolve this issue is how to obtain further html from p

[2020-09-01 08:29] oltarasenko commented on #115
@Ziinc maybe you're right. I don't have a full picture of it yet. I would try to build a prototype and see what is required from the production usages.

From my experience of scraping, I would say: Scraping something from modal windows was an extremely rare [I would even say almost never used] use case... In the vast majority of the cases, a simple request to something like splash (which is also s

[2020-09-20 06:40] Ziinc commented on #115
we could consider microsoft's playwright, which is cross browser.  Might make rotating the user agent easier

[2020-09-30 10:28] bapti opened #124 "Pattern for handling authentication of requests"
Hi,

I'm interested in know what the appropriate pattern is for authenticating a spider? Most of the spiders I'm writing need to log in first before being able to scrape the content that I need access to. What would be the normal pattern for this as I've not found any examples of it that I can see.

My guess would be to write a middleware to perform the log in and set the auth cookies, however thi

[2020-09-30 11:50] Ziinc commented on #124
You can write a middleware that takes in auth options and sets the cookies, and then set it on the `override_settings` callback.  This lets you parameterize your auth settings based on spider. The `init/0` callback is more for starting request links.

[2020-09-30 17:51] oltarasenko commented on #124
@bapti yes, I agree, we clearly miss an example here. Btw, what are you trying to crawl? Maybe we could try it as an example.

[2020-10-02 04:32] kaozdl commented on #102
I could work on this

[2020-10-02 06:39] Ziinc commented on #102
@kaozdl I think @oltarasenko merged in the PR for this issue last week.

@oltarasenko if there's no other changes necessary then we can close this issue

[2020-10-02 07:16] oltarasenko commented on #102
Yes, sorry I forgot to update the ticket :(

[2020-10-02 07:16] #102 closed

[2020-10-06 19:50] oltarasenko commented on #124
@bapti I want to let you know that I am working on the case. Have already solved the basic login, now trying to generalize it. Will present steps soon!

[2020-10-06 21:26] oltarasenko commented on #124
@bapti I will write an article with a detailed explanation soon. For now please use this as an example: https://github.com/oltarasenko/crawly_login_example

Please let me know if you have any questions! Would appreciate a feedback!

[2020-10-07 13:10] bapti commented on #124
@oltarasenko thank you for all this, I look forward to the article.

The site I was trying to crawl has some fancy javascript fingerprinting (I'm assuming to prevent scraping), I tried a few things to get things to work and couldn't. In the end I had a quick go using puppeteer to see if I could perform the login through it, and that worked which kind of proved to me that I needed a full browser en

[2020-10-08 07:39] oltarasenko commented on #124
Ok, @bapti

Thanks for the feedback. Yes, it might be the case. I think we should put more efforts toward supporting puppeteer
backend.

In any case, if you have a way to share the website name, I can test it myself to see what can be done. I have spent quite a bit of time debugging bans in the past, so maybe this experience could help.

If you don't want to share the site here, you can do it via

[2020-10-11 03:22] Ziinc opened #126 "Passing spider initialization options"
`init/0` results in a "hardcoded" way of providing initial urls to crawl.

For example, during application runtime, if I wanted to feed urls to the spider to crawl, I would not be able to do so without having a convoluted method of fetching those urls (e.g. from a database).

I propose allowing options to be passed as arguments to the spider's `init` callback, passed through the `Crawly.Engine.sta

[2020-10-11 14:54] oltarasenko commented on #126
@Ziinc Yes we can do it. I can take a look on it. I am now working on automatic spiders generation and did something similar.. I any case it seems it will be fast to build it.

[2020-10-13 15:26] benvp opened #127 "Could not get behaviour information for: %UndefinedFunctionError{}"
Hey,

when including crawly I got a huge amount debug messages like this:

[code]

I don't think it's an issue for getting crawly to work, I'm just wondering why I get such an incredible amount of debug messages. 🙂

Using:
* Elixir v1.11.0
* Erlang 23.1.1
* Crawly 0.11

[2020-10-13 15:55] oltarasenko commented on #127
Oh yes. I am now suffering from it as well. Will remove this: https://github.com/oltarasenko/crawly/blob/5867f1622f3af5f0f8bbd539a88e14cf04425ba7/lib/crawly/utils.ex#L170
As it's too noisy. Sorry for it!

[2020-10-14 06:56] Ziinc commented on #126
@oltarasenko spider codegen or dynamic spider definitions? I've got a few possible use cases for dynamic spiders, it would be an interesting area to explore.

I think startup options passed through the engines should be quite simple to implement, I'll make a PR this week

[2020-10-14 06:59] Ziinc opened #128 "Dropped request handling"
There needs to be a mechanism to handle dropped requests/error response codes. Would it be better to implement it through a callback in the settings, or through a pipeline?

[2020-10-14 07:00] Ziinc commented on #128
To clarify, when I say handle, I mean "to do something with the request, like update a database)

[2020-10-14 07:38] oltarasenko commented on #127
@benvp Thanks for the feedback. Really happy to know that it's being useful for someone!

[2020-10-14 07:39] oltarasenko commented on #126
I have quite an interesting POC running as a part of CrawlyUI (http://crawlyui.com/). The idea is to allow generating the spider through the web. The backbone for it works already, so I was able to write one of the simple spiders. Now I am working on the interface. Will try to publish this work soon.

[2020-10-24 18:57] dkgitdev commented on #128
I suggest you moving onto Request / Response Middlewares.

This way we can integrate current middleware type as Request Middleware and provide a way to basically tag, filter or do something else upon getting new response.

[2020-10-25 09:50] Ziinc commented on #128
Hmmm. This would mean a middleware piping step prior to piping the success response through the item pipeline.

Let's call this hypothetical step Response Middlewares.

Should the sole responsibility of the Response Middlewares be to do something with the responses, successful or not? This could be the step where we check for retries, and tag responses, or basically control the flow of the respons

[2020-10-25 10:19] dkgitdev commented on #128
I think, that the more flexibility you have – the better.

The response middleware list can contain only one middleware by default, like AllowStatusCodes with the tuple of 200, 201 as argument. This way it'll provide both sensible defaults and flexible way to inject some additional code, based on what actions you actually want to happen.

Because when the status code IS the information you'd like

[2020-11-02 06:20] Ziinc opened #130 "Bump deps"
Running `mix hex.outdated` returns the following:
![image](https://user-images.githubusercontent.com/22714384/97836142-97e84600-1d16-11eb-8e22-844bf1a2e763.png)

Currently, `new_gollum` explicitly requires HTTPoison to be `1.5.0`, while the new SSL fixes requires hackney 1.16 and above which is in `1.7` of HTTPoison.

When trying to bump httpoison to 1.7.0, I get this:
![image](https://user-images

[2020-11-02 06:27] Ziinc commented on #130
Made the override version changes in https://github.com/oltarasenko/crawly/pull/131, all tests pass fine. Merge in if ok

[2020-11-10 08:26] Ziinc commented on #130
Fixed in #131

[2020-11-10 08:26] #130 closed

[2020-11-10 12:08] oltarasenko opened #135 "General purpose links extractors"
One of the problems I am constantly seeing is a need to extract new URLs. And I am looking for a way to simplify it for me and other people as well.

I am thinking of writing a code which will:
1. take a page body,
2. extract all links from it
3. filter these extracted links by a list of patterns provided by us.

For the end-user it would mean. I want my crawler to follow everything which has: "/b

[2020-11-11 10:02] sandromehic commented on #127
I've got the same messages showing up, and they actually take some time. I have noticed that after adding `crawly` as a dependency the startup time of the application has gone up, and also the execution of tests. On a clean phoenix project `mix test` goes from around 1.5s on my machine, to 6s after just adding crawly and not changing any of the code or adding any tests.

I quickly tried removing t

[2020-11-11 13:28] oltarasenko commented on #127
Hey @sandromehic the related fix is in master. I am preparing a new release right now (developing some features requested by other people). I think I will do a roll out in a few days. Sorry, probably it took longer than it should, but the issue will go away soon.

[2020-11-11 13:42] sandromehic commented on #127
great news!

What about the startup time of crawly? Is it a problem other are also having? It seems strange to me that by just adding crawly on my machine the startup time (and `mix test`) goes from 1.5s to 6s. Granted, with a complete test suite and live reloading, this is a minor issue and it won't impact the times that much, but might be worth investigating why the startup times are so high.

[2020-11-11 14:06] Ziinc commented on #127
@sandromehic the increase in startup time it is relating to the current way that crawly discovers spiders that implement the `Crawly.Spider` behaviour. There are some optimizations that we could do for it, such as excluding dependencies from the discovery process. That deserves a separate issue

[2020-11-11 14:20] sandromehic commented on #127
ok, I imagined it was something like that. I didn't want to open a new issue, since I was not sure you would consider it a problem and if it should be addressed. Since it's an optimization thing, I'll leave the decision to you whether you want to treat it through github issues.

Hope I was helpful in bringing this up. Thank you for the responses.

[2020-11-11 15:29] oltarasenko commented on #127
@sandromehic In general the situation should improve quite a bit after the release (or if you try with master branch). As @Ziinc has mentioned the operation of getting the list of spiders is not cheap at all. But debug logs made it much worse.

Otherwise it may also depend on the size of your project. E.g. if Crawly is used with other apps (big number of apps for example), the list operation may b

[2020-11-11 17:16] oltarasenko commented on #135
@Ziinc in general I am quite close to the idea of bringing Floki back here... It can simplify these concerns quite a bit. From one side, I want to be independent, on the other hand, we can write quite a few pre-defined things:
1. Automatic login form
2. Auto new links extractions
3. Maybe auto items extractions, etc

[2020-11-12 01:43] Ziinc commented on #135
We can use the dependency injection pattern to avoid adding a specific html parser as a dep.

On the dev side, we set Floki/meseeks as a dev dependency, and on the user side, the user has to define a module containing callbacks that is is required.

For example, if the user wants to use automatic link extraction using glob patterns , we can construct an xpath based on a given glob pattern on the C

[2020-11-12 09:22] oltarasenko commented on #135
Yes, I was thinking about it. It looks like it requires quite a lot of work to have adapters for two parsers we have now (as their APIs are different, e.g. functions names, XPath support, etc). It sounds like a bit of work. And still we need to add one of the backends.

I can play with something like `Code.loaded? Floki` to either allow using a parser or to raise an exception. However I don't see

[2020-11-12 09:56] Ziinc commented on #135
The onus for managing the html parsing dep should be on the end user, as managing adaptors for both libraries would be too much work on our side and too restrictive on the user side.

If we go with user defined adaptors, we won't have to manage conditional dep compilation, which seems quite tricky and troublesome when I did a forum search. It also makes these an opt in feature, which for many peop

[2020-11-12 10:48] oltarasenko commented on #135
Sorry not quite understood you

[2020-11-12 14:42] Ziinc commented on #135
I see three possible way to implement such helpers:

### 1. Through a user-defined parsing interface that implements required parsing callbacks

[code]

Pros:

- most freedom
- less maintenance

Cons:

- user has to implement the callbacks that they want (but is it really a drawback though? more control over parsing process)

### 2. Through Crawly-defined parsing interface that uses a Crawly-decid

[2020-11-12 14:44] Ziinc commented on #135
In my replies, i was talking about why option 1 is preferable as compared to 2 and 3.

[2020-11-12 19:10] oltarasenko commented on #135
Heh :(.

Actually I don't want to force people writing any extra code. E.g. adapters or anything like that. In any case the conversation was quite useful, as I think I will follow the hybrid idea.

So I see it done like this:
[code]
I think it will be quite simple to start with. Then we can play a bit more with the idea of having builtin parsers.

[2020-11-13 01:16] jfmlima opened #138 "[Help] Middlewares not being overridden on a Spider level"
Hey 👋 ,

I'm having an issue while overriding settings on a spider level.
According to the docs doing something like:
[code]
would be enough, but after debugging the request in `parse_item` the settings are not being overridden.

Am I missing something here?

Here's my mix.exs:
[code]

The Config:
[code]

And Middleware:
[code]

This is what I get with the middleware on a global level:
[code]

And

[2020-11-13 01:32] Ziinc commented on #135
No issues with the hybrid approach, it is what quite a few frameworks use for handling json parsing (phoenix for example, off the top of my head).

I only worry about maintenance, like the what-if scenario where there are breaking api changes in a library between versions. Then we'd have to maintain two different pieces of code for one library plus check for the api version to know which piece of

[2020-11-13 02:25] Ziinc commented on #138
@jfmlima hi this is a bug, thanks for the report. It is caused by this line here: https://github.com/oltarasenko/crawly/blob/8c8b3651559529bcb81ec1477ade18386f794f14/lib/crawly/request.ex#L56

@oltarasenko the requests creation might need some refactoring. As there is no spider reference being passed, we can't use `Crawly.Utils.get_settings(:middlewares, MySpider, default_middlewares)`. I think ad

[2020-11-13 07:43] oltarasenko commented on #138
Oh, indeed. So basically it not possible to override middleware because of it :(

[2020-11-13 08:03] oltarasenko commented on #138
I need to think more about the issue. From one side, for now, you should just use https://github.com/oltarasenko/crawly/blob/8c8b3651559529bcb81ec1477ade18386f794f14/lib/crawly/request.ex#L72 to create new requests.

I am not quite sure how to address it. It's possible to override middlewares on the request storage side: https://github.com/oltarasenko/crawly/blob/8c8b3651559529bcb81ec1477ade18386f

[2020-11-13 16:37] jfmlima commented on #138
Hey @Ziinc & @oltarasenko, thanks for the quick feedback!

@oltarasenko can you provide some examples on how to manually create new requests please? Or was that suggestion not meant for me?

[2020-11-16 18:50] oltarasenko commented on #138
Sorry, @jfmlima, I've managed to catch flu.

Regarding manual creation of requests:
Spider's parse_item/1 function is supposed to return new items and new requests, for example this process is shown in the tutorial here: https://hexdocs.pm/crawly/0.11.0/tutorial.html#extracting-data-in-our-spider

So in this example case:
[code]

[2020-11-16 18:59] jfmlima commented on #138
Hey @oltarasenko, sorry to hear that, hope you're feeling better!

I've eventually figured it out and created my own utils with exactly what you suggested, it doesn't work however with the first request which is the most important one to continue scraping.
I've seen that it will be allowed to pass requests as well in the `start_requests` here https://github.com/oltarasenko/crawly/commit/8c8b365155

[2020-11-16 19:06] oltarasenko commented on #138
@jfmlima I am preparing the 0.12.0 rollout just now.

[2020-11-16 19:48] jfmlima commented on #138
Terrific @oltarasenko, let me know if I can be of any help

[2020-11-16 20:03] oltarasenko commented on #138
@jfmlima Just done. I have tested it a bit, so it should work fine. Please let me know if something goes wrong, so I will prepare a bugfix.

[2020-11-16 20:16] jfmlima commented on #138
Thanks buddy, will do!

[2020-11-17 19:33] oltarasenko commented on #127
This issue should be resolved now after the release rolled out yesterday.

[2020-11-17 19:33] #127 closed

[2020-11-17 19:33] oltarasenko commented on #126
Released in 0.12.0

[2020-11-17 19:33] #126 closed

[2020-11-23 21:54] oltarasenko opened #141 "Announcement: Now it's possible to create a spider in UI"
Hey people,

I want to make a short announcement in the inner circle, before moving forward in other places. I have just released an alpha version of UI based spider generators. You can find them here: http://crawlyui.com/spider/new

And here you can find an example of a spider created this way: http://crawlyui.com/spider/new?spider=ErlangSolutionsBlog

Would really appreciate feedback & ideas: @Z

[2020-11-23 22:39] oltarasenko commented on #141
OK, I have managed to break everything...

[2020-11-23 22:46] oltarasenko commented on #141
Ok, it works again

[2020-11-24 18:13] #52 closed

[2020-11-24 18:26] Ziinc commented on #141
@oltarasenko I'm a little confused as to how the spiders are dynamically created. From skimming the `crawly_ui` source, I notice that there isn't a base template spider module being used.

As mentioned [previously](https://github.com/oltarasenko/crawly/issues/126#issuecomment-708201573), managing dynamic spiders is definitely very useful, because managing and monitoring dozens of spiders manually

[2020-11-25 07:01] oltarasenko commented on #141
Hey @Ziinc the feature is quite experimental atm, and some parts would have to be improved (as they look ugly). However I wanted to build this feature, and it feels like it's almost working. Once done, I will be able to re-write it, to make it look normal from the coding point of view. (Of course, if there will be interest in this feature after all. Actually, I've noticed that in general, the inte

[2020-11-28 15:35] Ziinc commented on #141
I think there are two major aspects to this whole issue:
1. spider management (start/stop), scheduling,and monitoring (ties in with #37 and #101)
2. runtime spider creation (create/update/delete)

For me, the key problems I have right now with spider management, is that when webmasters change their design, the spider's extraction phase becomes broken and there isn't a simple way to quickly fix it

[2020-11-28 15:44] Ziinc commented on #141
w.r.t. the demand of this feature, i would say that there is a high demand for web crawling in general. Should you eventually productize this (I highly recommend that you do so), creating a way to easily create, manage, and deploy hundreds of spiders at scale is definitely something that many businesses need. The elixir community may be small, but crawly is currently the "go-to" solution for web s

[2020-11-30 11:13] oltarasenko commented on #124
@bapti the article is finally published now, and can be available via https://oltarasenko.medium.com/web-scraping-with-elixir-and-crawly-extracting-data-behind-authentication-a52584e9cf13

[2020-12-02 10:41] #124 closed

[2020-12-04 12:12] tanguilp opened #142 "Add visited URLs in `Crawly.Response.t`"
When a request is being redirected and redirection is handled by the fetcher directly, it is necessary to add both the initial and the landing URL to the list of visited URLs.

It is possible using both the `Crawly.Request{}` and `Crawly.Response{}` structs when there's only one redirect.

However, when there's more, for example link A leads to A -> B -> C -> D redirections, we're losing informati

[2020-12-04 12:23] tanguilp opened #143 "Use tiny hash in `Crawly.Middlewares.UniqueRequest`"
Instead of storing the whole URL in the spider's state in `Crawly.Middlewares.UniqueRequest`, I suggest hashing the URL and storing it instead.

I guess taking the first quarter of a sha256 would do it, quick maths gives 2^(8*8) = 10^19 which is well enough.

When crawling large sites storing the full URLs can quickly becomes a bottleneck (in the dozens of GB).

[2020-12-04 12:25] tanguilp opened #144 "Remove URL fragment before storing in `Crawly.Middlewares.UniqueRequest`"
Usually a fragment leads to the same page.

[2020-12-04 14:26] Ziinc commented on #142
@tanguilp could you clarify what you mean by a cdp driver?

[2020-12-06 14:41] maxlorenz commented on #141
I'd also be very interested in how to achieve that. Tried a few things so far, none particularly pretty. What would you say about removing the restriction of one process per Module? So you could instantiate the same crawler with e.g. a different base url and run multiple instances.

[2020-12-07 14:56] oltarasenko commented on #141
Hi @maxlorenz could you explain what is your use case, maybe I will be able to advise something?

Basically, the base URL is only used by the same domain middleware. You can have a different version of it, in this case. In any case, I would ask for more info!

[2020-12-07 14:56] oltarasenko commented on #144
Yes, it will improve the situation! I will add it to the scope.

[2020-12-07 14:58] oltarasenko commented on #143
Yes, I would agree I've never planned to use a full URL here, however, decided to keep it this way, as it was faster at that point (I am talking about the development speed). But I agree we should optimize it.

[2020-12-07 18:02] tanguilp commented on #143
Actually a quarter (64 bytes) might not be enough, because of the [birthday attack](https://en.wikipedia.org/wiki/Birthday_attack). Collision could happen with a 50% as soon as 10^9 pages are parsed, which can seem a lot but is not (counting pages with parameters for example).

But I'm no mathematician, someone needs to double-check this!

[2020-12-08 04:04] maxlorenz commented on #141
Sure. I just want to have one spider module which fetches the base_url from a data source like the database. And I want to run multiple instances of that spider with different database ids to get the base_url from

[2020-12-08 07:48] oltarasenko commented on #141
@maxlorenz I will be definitely heading towards a more dynamic configuration of spiders.

Regarding your case, it looks like what you really need is a monitoring website, which just follows links that were set in the database. Do I understand your case correctly?

[2020-12-08 11:16] maxlorenz commented on #141
Exactly. I can already fetch the base URL inside the spider but I can’t start two instances or pass in arguments when the spider is starting

[2020-12-08 11:22] oltarasenko commented on #141
Hey @maxlorenz think it's already possible to do it with current crawly. Let me think of an example to publish, as I am constantly thinking about the additional content which might make crawly more simple for the end user. I will try to produce it as soon as I can, which looking on my current schedule can be achieved this week. I will write to you once I will get some data to share!

[2020-12-08 17:00] maxlorenz commented on #141
That would be very helpful!

[2020-12-08 19:11] oltarasenko commented on #141
@maxlorenz But just in case, are you using extracting data from the same website all the time or from multiple websites?

[2020-12-08 19:40] oltarasenko commented on #141
What confuses me here is:
1. If all the links are from the same site, potentially you have no issues with a base URL, you just get it.
2. If it's not the case then it's not clear how do you define item extractors capable of extracting data from different websites.

[2020-12-09 10:42] maxlorenz commented on #141
From multiple websites. I am just interested in a few `<span>`s which means I can fetch their classes/ids from the database

[2020-12-09 10:42] maxlorenz commented on #141
I'll further process the data later in my pipeline

[2020-12-09 10:54] oltarasenko commented on #141
So in general you have a pre-defined set of rules stored in your database. E.g. if I am on siteA I am fetching a rule for siteA and so on, right?

[2020-12-09 11:25] maxlorenz commented on #141
Exactly

[2020-12-09 11:43] oltarasenko commented on #141
maybe please list example sites for the article

[2020-12-09 14:07] tanguilp opened #145 "Feature request: make request storage configurable and pluggable"
As far as I understand, requests are necessarily stored in a GenServer's state (`Crawly.RequestStorageWorker`) and it is not possible to plug its own storage module.

This has some disadvantages:
- it doesn't support restart of the server
- it cannot be distributed on several nodes

It would be nice if this module was configurable. That would make backends such as Mnesia or SQL databases possible,

[2020-12-09 14:11] tanguilp opened #146 "Filter out requests when popping from request storage"
Requests are filtered before being added to the request storage, so as to discard irrelevant pages.

When crawling large sites, some filtering rules may be added after crawling is started. It usually involves updating the filters and updating (by restarting, or hot code reloading) the spider (assuming we're using a persistent storage backend).

In this case, some requests saved before the rules' u

[2020-12-09 16:32] maxlorenz commented on #141
I don’t have a list at Hand yet. Any site will do, just imagine I want to get all the h1-h5 tags (their content) but I will add more spiders during runtime

[2020-12-10 04:45] maxlorenz commented on #141
I found a workaround using Module.create

[2020-12-10 08:13] oltarasenko commented on #145
Yes, it's absolutely true. We had plans both for Request/Items storages to be able to share and recover states... however it turned out that for now, we did not have that demand. At least not yet, so this part of the work was abandoned for a while.

[2020-12-10 08:52] Ziinc commented on #142
I think let's narrow down this issue to **the ability to track url redirections through a form of url history**.

Currently hackney does not store intermediate locations (https://github.com/benoitc/hackney#automatically-follow-a-redirection), so a possible method to solve this is to handle redirects on the Crawly side instead.

[2020-12-10 09:05] oltarasenko opened #147 "Question: Chat for crawly users"
Hey people,

I am thinking of a way for faster communication with those people who use crawly. I wonder what do you think about having a channel to be able to ask there?

I am thinking mostly about a telegram group, but maybe if you have better ideas let me know!

[2020-12-10 09:53] Ziinc commented on #141
Please refer to the 3 draft PRs for main ideas from my previous comment.

Specifically, the runtime spider pr (https://github.com/oltarasenko/crawly/pull/148) aims to avoid creating modules at runtime by allowing spider modules to be templates.

The parse pipelines pr (https://github.com/oltarasenko/crawly/pull/150) aims to allow for configurable data extraction from responses.

[2020-12-10 10:16] tanguilp commented on #142
That could be a solution for Hackney indeed. Another solution would be to write a wraper for it doing the work of saving the URL history. But IMO that's a defect of this library because it's losing useful information.

Also not that for browser-based fetchers, the browser follows the redirection following its own rules and there's no way to stop it (for instance to prevent the browser from followi

[2020-12-11 01:09] maxlorenz commented on #141
@oltarasenko @Ziinc I managed to use `quote` + `Module.create` which works. Only issue for now is that the created spiders won't show up with `Crawly.Engine.list_known_spiders()` since it can't find the module. Request/Storage stats works and I can use the engine sup's children to query for the running spiders. Let me know if I can help to extend the list function

[2020-12-11 07:38] oltarasenko commented on #141
Hey, @maxlorenz yes it will work. FOR E.g. I am doing the same on CrawlyUI side for now. Regarding the listing function - I think a way to go would be to extend Engine API so it's possible to register a spider there.

[2020-12-11 12:05] FrancescoZ opened #152 "Configurable SendToUI Pipeline"
It would be nice to be able to select the module and the function to which the data is sent when doing
[code]
 is it something you could be interested in?
For context:
I'm using crawly to scan amazon, on top of it I've added something similar to `CrawlyUI` and I would like to send the item to that module. I workaround it by having a module called CrawlyUI that can handle the call but I would be ni

[2020-12-11 12:19] oltarasenko commented on #152
Yes, I think it should be fine to do that. However, if the configuration is not set the pipeline should probably default to the CrawlyUI..

[2020-12-11 12:21] FrancescoZ commented on #152
I will try to open a pull request this weekend

[2020-12-11 13:46] FrancescoZ commented on #152
@oltarasenko can you give me the permission to push to the repo 🙏 ?

[2020-12-11 13:50] oltarasenko commented on #152
Invite sent.

[2020-12-11 19:43] phortx opened #153 "How to wait for running spiders to finish?"
I'm writing a CLI tool which uses a spider. Seems like the process ends bevor the spider is finished. How can I wait for the spider to be finished and print a success message?

[2020-12-13 03:30] maxlorenz commented on #141
Very helpful! I got my project working:

I fetch the running spiders here (https://github.com/abotkit/teddy/blob/main/lib/teddy/spiders.ex#L40) and use the `Module.create` function like this: https://github.com/abotkit/teddy/blob/main/lib/teddy/spiders/spider.ex#L4

There's lots of room for improvement and I'd like to explore the S3 export. I'd probably want to buffer the results before writing to

[2020-12-13 03:31] maxlorenz commented on #141
I used CrawlyUI for a reference

[2020-12-13 18:09] phortx commented on #153
I'm starting the spiders via

[code]

[2020-12-13 18:53] oltarasenko commented on #153
Hey @phortx!

You could define on_spider_closed callback function (https://hexdocs.pm/crawly/0.12.0/configuration.html#on_spider_closed_callback-function) which would notify your process.

[2020-12-13 18:57] phortx commented on #153
Hi @oltarasenko

thanks for your response. However, this solution seems not to be very elegant. Isn't there a way to link the process to a supervisor or use Tasks for that ?

[2020-12-13 19:03] oltarasenko commented on #153
Unfortunately, right now we're not returning a PID of the related manager on start, we could do it in the future. However for now the closes solution I see is to use the: https://github.com/oltarasenko/crawly/blob/master/lib/crawly/engine.ex#L66

[2020-12-13 19:15] phortx commented on #153
Thanks for the advice!

Do you have a hint how I could use that? I'm rather new to elixir and not sure what to do with the manger right now 😄

[2020-12-13 19:18] oltarasenko commented on #153
The manager is probably the main process related to a spider. E.g. it starts all other relevant processes, which form the spider itself. Also, the manager is linked to workers or storages. Probably you can try to put a link on it if you want.

[2020-12-13 19:21] phortx commented on #153
I'll try it, thanks!

[2020-12-14 14:38] phortx commented on #153
Ok, this is even more complicated because the spider doesn't finish when the quque is empty ... is there a way to let a spider stop when the work is done?

[2020-12-14 14:42] oltarasenko commented on #153
@phortx Spider should finish when the queue is empty. However, it waits a bit of time before doing so, which is controlled via https://hexdocs.pm/crawly/0.12.0/configuration.html#closespider_timeout-pos_integer

[2020-12-14 14:48] phortx commented on #153
Thanks for the fast response :)

I wasn't able to get the supervising running, so my current solution is an endless loop which waits a second and then checks `Crawly.Engine.running_spiders()` which works well.

However the spider didn't disappear from the Map which is returned by `running_spiders` after the work is done.

Setting `closespider_timeout` solved the issue. Thanks for your help!

[2020-12-14 14:48] #153 closed

[2020-12-16 11:56] oltarasenko commented on #141
@Ziinc, @maxlorenz  now it's possible to inspect logs in UI :). Finally :)
http://crawlyui.com/logs/248/list?logs_filter=manager

[2020-12-16 12:34] oltarasenko commented on #147
I decided to go with telegram: https://t.me/elixir_crawly

[2020-12-16 12:34] #147 closed

[2020-12-20 17:57] dkuku opened #160 "any way to skip certificate validation?"
Im trying to parse a page with invalid certificate. In python I could just do pass `validate=False` option to requests and it went through. Im not sure how to pass this option in crawly. Im trying to hit:
[code]
and getting:
[code]
edit:
I partially solved it by passing param to middleware - can this also be done per request ??
[code]

[2020-12-21 07:31] oltarasenko commented on #160
Hey @dkuku,

Yes, the middleware is a way to go here, as you have specified. But also it's possible to have it per-request (e.g. the crawly's parse_item returns a list of new requests to follow, so you can edit requests on that stage (individually adding needed options))

Hopefully, it helps!

[2020-12-21 18:13] #160 closed

[2020-12-21 18:13] #141 closed

[2020-12-21 18:14] #101 closed

[2020-12-22 15:29] Ziinc opened #163 "Improvements to file logging"
Currently, in master, the logs are stored in a non-optional manner.

I think a good improvement for this would be to make the file logging optional, as not everyone has log rotation configured or needs logging (especially ad-hoc users).

Mentioned first here: https://github.com/oltarasenko/crawly/pull/155#discussion_r544085821

Some improvements i can think of is:
- optional switch to enable file

[2020-12-25 19:14] oltarasenko opened #166 "Move TestSpider definition from manager_test module"
As it's discussed in https://github.com/oltarasenko/crawly/pull/165#discussion_r548901091 it's better to have mocks of a separate module with test spider

[2021-01-29 20:38] spectator commented on #138
@oltarasenko There is probably another issue with overriding middleware options, I have to use proxy for one of the spiders, when I add `Crawly.Middlewares.RequestOptions` with proxy settings to main config it works fine, but overriding on spider lever doesn't, even though in `iex` calling `Crawly.Utils.get_settings(:middlewares, FooSpider)` shows settings with overrides but then spider started wi

[2021-01-29 20:46] oltarasenko commented on #138
@spectator Ok, I see. Yes as it was mentioned before we do not override middleware at all on the spider level, that's why your per-spider config is not taken into account here :(.

Could you just add a proxy to your requests when requests are created by the spider (in the parse_item function)?

[2021-01-29 20:50] spectator commented on #138
@oltarasenko but that won't change anything for initial requests, would it? is there a way to specify proxy for those as well?

[2021-01-29 20:55] oltarasenko commented on #138
@spectator I think it should, as soon as you're defining them as requests, for example as I did here:
https://oltarasenko.medium.com/web-scraping-with-elixir-and-crawly-extracting-data-behind-authentication-a52584e9cf13?sk=fa66930ce187204285fb43741a414979
See the part where I am doing the login on start.

[2021-01-29 21:07] spectator commented on #138
@oltarasenko appreciate the help! it did work indeed!

[2021-02-03 15:23] Ziinc commented on #43
For your reference @oshosanya

### using backends
Ideally, the Crawly.fetch function should utilize internal functions in worker.ex, request_storage_worker.ex, data_storage_worker.ex to simulate the actual fetching of a request and its returned result. Currently, the logical flow is disjointed from the actual engine backend and implements much of the logic locally instead of reusing it.

### Allow

[2021-02-04 16:36] Ziinc commented on #163
#170 fixes point 1 and 2. Only making of file logger backend an opt in dep remains.

[2021-02-12 04:08] Ziinc opened #174 "Improve documentation by linking from source docs to guides"
Add links to guide/concepts docs from source docs, so that users when browsing can directly access further readings on unfamiliar terms

[2021-03-10 22:17] DaniruKun opened #176 "Provide more examples / detailed docs on custom request header override per spider"
I have a situation where I need to supply a custom consent cookie to a specific spider. While it is described how to do it for the middleware, it is not very clear still how to pass e.g. custom headers to the `init/1` callback of `Crawly.Spider`.

Even a small example or such will help and can help with writing a good example in docs, thanks!

[2021-04-07 12:35] bapti opened #179 "Advice wanted, usage with oban"
Hi, I'm using crawly and I want to trigger crawls from oban jobs. I'm thinking of wrapping the call to starting a spider in a Task, is this the right approach? It's mainly so I could do something like `await Spider` within the scheduled job. I've read through the docs as best I can, but I'm a little bit of a novice when it comes to these parts of elixir so thought I'd ask.

Thanks for any help!

[2021-04-11 13:37] dkuku opened #181 "curl fetcher"
there is a bug in hackney which prevents me from using httppotion, I can use the splash fetcher just fine.
But it seems heavy so I created a simple fetcher that uses curl. It probably can be extended and added to the repo.
In the config its just `fetcher: {Crawlers.Curl, []},`
[code]

[2021-04-13 13:14] bapti commented on #179
Hi, I tried the following to see if it would work, but it doesn't seem to. So I'm just defaulting to triggering the crawls periodically and not utilising any of the job logic within Oban, purely using it as a cron mechanism for triggering the crawls.

[code]

[2021-04-24 19:40] Ziinc opened #182 "Typespecs for crawly splash fetcher options are wrong"
should list out all keyword options in typespecs. Currently set as `[binary()]` which is wrong.

https://github.com/oltarasenko/crawly/blob/master/lib/crawly/fetchers/splash.ex#L32

Reported in #178

[2021-04-29 02:05] EdmondFrank opened #183 "Suggestion for nameing of closespider_timeout in config"
![image](https://user-images.githubusercontent.com/13914416/116493021-6371d300-a8d0-11eb-85c6-a773bba0d207.png)

It seems that when all the workers’ requests list are empty, the crawler still cannot stop automatically.

Maybe it is more convenient  to determine when the spider need be stopped by providing a optional item `closespider_deltacount` with default value `0`  in config

[2021-04-29 02:37] EdmondFrank commented on #183
This issue can be solved by setting `closespider_timeout: 0`

But I feel that the name of this settings item is confusing.

It is easy to misunderstand that this is a setting about the timeout of network requests

Maybe `closespider_min_delta` is better, this is just my personal suggestion.

[2021-05-28 12:56] bapti opened #184 "Observed crash of Genserver"
![image](https://user-images.githubusercontent.com/1849893/119986919-57a32a80-bfbc-11eb-89f2-6974327debf8.png)

I see this error thrown in my logs fairly regularly, it doesn't seem to follow a deterministic pattern though so I thought I'd raise it to see if you've seen it before. Perhaps I've misconfigured Crawly?

[2021-06-03 10:44] #43 closed

[2021-07-04 13:39] thiagomajesk opened #185 "Generic `Pipeline crash` error"
Hi, I'm getting a generic [pipeline crash](https://github.com/elixir-crawly/crawly/blame/60c5e1ab33915d4e6ec7652ca3b34793b5031077/lib/crawly/utils.ex#L96) error on the current release.

It seems though that this [was solved](https://github.com/elixir-crawly/crawly/blame/master/lib/crawly/utils.ex#L107) on the `master` branch 3 months ago. Any plans to release a new patch version for this?

I teste

[2021-07-05 22:12] mario-mazo opened #186 "[question] scrapping dynamic urls"
Hello

Im thinking about using crawly for a project but im not sure whats is the best way to scrap dynamic urls

Like I need to scrap www.something.com/site/AAA all the way to www.something.com/site/ZZZ. The last AAA-ZZZ is a unique identifier

So should I pass the identifier that to start_urls? or should I `fetch` inside the `parse_item`

thanks

[2021-07-24 15:38] thiagomajesk opened #187 "`Could not start application crawly` when trying to enter IEx"
Having crawly as a dev dependency on mix gives an error if I try to run `iex -S mix` in my phoenix project:

[code]

The error `:eaddrinuse` only happens because I'm already running phoenix in `localhost:3000`.
Why is crawly trying to reserve port 3000? Also: could we improve the error message to be more clear?

[2021-07-30 01:23] ziyouchutuwenwu opened #188 "js render problem"
hi, i made a sample as demo, code like this
[code]

config/config.exs
[code]

i start splash with cmd
[code]

the iex shell output is
[code]

if i remove splash fetcher from config , i can get the response,  but a bit slowly.

i run `docker exec -it xxx bash` into splash container. then execute `curl --head https://www.erlang-solutions.com/blog`, after about 15 seconds, i got the response.

modify

[2021-07-30 05:53] ziyouchutuwenwu opened #189 "custom parsar callback sample"
hi, is there any sample which shows how to use custom parsar callback instead of use default parse_item?
i read doc from [here](https://hexdocs.pm/crawly/configuration.html#parsers-module), but don't know how to use.

thanks for your help

[2021-07-30 09:45] oltarasenko commented on #189
@Ziinc probably can give more info here.

But could you please describe the use case? Why can't you use parse_item?

[2021-07-30 09:53] oltarasenko commented on #188
But why after all you need splash for that page? E.g. I can easily get all the data with:
[code]

[2021-07-30 10:20] ziyouchutuwenwu commented on #188
thanks for your quick help, this is just for example.
this url does not need splash, indeed

i just try splash, but find it not working..........

[2021-07-30 10:23] oltarasenko commented on #188
Sorry I was not using splash for some time already, so it might be a bit hard for me to advise here.

[2021-07-30 10:26] ziyouchutuwenwu commented on #189
here is my usage scenario:

for site demo.com, i need to get some info such as title, category, and get the sub url from some <a> links
when i get the sub url, i send requests, then parse data from response, here i need to get some detail info, such as author, price and etc.

the data parsar from sub page should be different from main page, i don't know how to do it through crawly.

great thanks.

[2021-07-30 10:28] ziyouchutuwenwu commented on #188
thanks, so for the js part, is there any new solution? or just keep it currently?

[2021-07-30 10:31] ziyouchutuwenwu commented on #189
for python part, my demo code seems like this
![image](https://user-images.githubusercontent.com/7458713/127640455-94dd1ef7-660d-42f0-9792-988833c98685.png)

[2021-07-30 16:13] oltarasenko commented on #188
I am looking towards chrome headless, as it seemed to be way more reliable. E.g. I suggest looking on:
https://oltarasenko.medium.com/building-a-chrome-based-fetcher-for-crawly-a779e9a8d9d0?sk=2dbb4d39cdf319f01d0fa7c05f9dc9ec

I did not have time to add it to Crawly yet, as I had to work on another commercial product, and don't have a chance to contribute :(

[2021-07-30 16:15] oltarasenko commented on #189
So... Do you have different items on different pages? Or same data just structured differently?

[2021-07-31 00:19] ziyouchutuwenwu commented on #188
thank you very much!

[2021-07-31 00:19] #188 closed

[2021-07-31 00:23] ziyouchutuwenwu commented on #189
yes, basiclly, i have different data structure on different pages, but according to the sample code, i don't know how to write the code.
It will be appreciate if there are some examples that can help me.

[2021-08-01 15:32] oltarasenko commented on #189
Sorry I still don't understand if that's one of these two:
1. Same item which can be extracted with other selectors
2. Two different items

[2021-08-03 15:24] avillen opened #190 "Could not compile dependency :epipe"
Hi! :wave: I'm having issues compiling the dependency from my project and also downloading the repo with current master:

[code]

No one of the error suggestions works for me. Is this a real problem or is it only happening to me? :sweat_smile:

I think that the only place where this dependency is used is here: https://github.com/elixir-crawly/crawly/blob/b6e833fc50008f339247c52c58ab5c641bf746bf/li

[2021-09-07 17:37] Ziinc commented on #190
@avillen yes, it is possible to replace it with a `with...do`, but we haven't gotten round to it yet. A PR would be great, I can help review.

[2021-09-07 17:38] Ziinc commented on #190
regarding the `cowboy_telemetry` update, could you let me know your elixir/otp version number, i'll try to replicate it

[2021-09-07 17:39] Ziinc commented on #190
is it `1.10.3-otp-23` ?

[2021-09-07 17:41] Ziinc commented on #187
Crawly automatically starts a cowboy http endpoint to allow remote controlling of the Crawly service.

It is probably a good idea to let this as an opt-in feature, to avoid unexpected scenarios like this.

[2021-09-07 17:50] Ziinc commented on #189
sorry @ziyouchutuwenwu I only just saw this, must have missed the ping.

Parsers are meant for commonly used logic that you want to reuse across spiders. A parser is simply a `Pipeline` module, with the result of each Parser being passed to the next. The `opts` 3rd positional arg allows you to provide spider-specific configuration to your parser.

For example, on site 1, you want to extract all li

[2021-09-07 17:52] Ziinc commented on #186
There are two ways:
1. adding them in `start_urls`
2. Incrementally adding them in `parse_item`

which method depends on how many url permutations you are looking at. if the number is absurdly high (like hundreds of thousands) of urls, then go with method 2.

[2021-09-07 17:54] Ziinc commented on #185
going to let @oltarasenko decide on the new release :slightly_smiling_face:

[2021-09-07 17:58] Ziinc commented on #184
Did you get this logged?
https://github.com/elixir-crawly/crawly/blob/c02e408dc84754bf8903515a9906c36ee51d04c0/lib/crawly/manager.ex#L216

If so, then you can disable the itemcount_timeout by setting it to false or a very high number.

[2021-09-07 18:02] Ziinc commented on #181
I think that we would not be supporting this, as it adds additional maintenance burden.

A contribution to the docs under custom fetchers would be welcomed, if you'd like to share your specific use case @dkuku

[2021-09-07 18:02] #181 closed

[2021-09-07 18:05] Ziinc commented on #179
This method would mean that your oban job would wait until the crawl finishes, whcih might take quite a while. It isn't the best way, but its simple enough. Not too sure if there's a timeout for oban jobs, but this solution looks fine from my point of view.

[2021-09-07 18:05] #179 closed

[2021-09-07 18:07] Ziinc commented on #179
refer to updated comment.

[2021-09-07 18:10] Ziinc commented on #183
I see, yes, setting naming is an issue, but that's what the docs are for :sweat_smile:  Interesting that the spider doesn't auto close when there isn't any requests in the queue, might be an issue with default config.

[2021-09-07 21:05] avillen commented on #190
:wave: Hi @Ziinc

Yes! but upgrading dependencies solves the issue :smile:

I just have pushed a PR for this, let me know if it looks good for you!

[2021-09-10 09:43] avillen commented on #190
Closing this issue now that this gets merged https://github.com/elixir-crawly/crawly/pull/192. Thanks a lot! 😄

[2021-09-10 09:43] #190 closed

[2021-10-04 23:07] darkslategrey commented on #176
Why not use `start_requests:` ?

https://github.com/elixir-crawly/crawly/blob/c02e408dc84754bf8903515a9906c36ee51d04c0/test/manager_test.exs#L165

[2021-10-11 03:36] braynm opened #198 "Demo page not loading"
It seems like the [demo page](http://crawlyui.com/) is not working correctly (The connection has timed out). Please see the screenshot below.

![Screen Shot 2021-10-11 at 11 34 49 AM](https://user-images.githubusercontent.com/1388366/136729658-2ab014b5-53a5-4ef0-8df8-357ebc3dd99c.png)

[2021-11-09 16:35] bapti commented on #138
I tried this but it didn't override the request options set in the `config.exs` file.  Using `{:crawly, "~> 0.13.0"}`

[code]

But in the request it still has these as the options

[code]

Any help appreciated

[2022-02-09 14:10] oshosanya commented on #144
@Ziinc Is this issue still open? Looking for something to work on. If it is still open, please help with a description of the issue.

[2022-02-12 20:02] cigzigwon commented on #99
@oltarasenko I think the UI is a good idea for implementing a scheduler but I think you should focus on a better reporter impl first.
After digging a bit... the room for imporvement starts with documenting this `manager_operations_timeout: (5 * 60_000),` in the config and do a PR to do some math because that swaps the timeout interval for jobs that have a terminus. "Paginated search results". I th

[2022-03-25 17:48] KristerV commented on #185
I know +1 isn't welcome on GitHub generally, but since there are so few people here... +1 :)

[2022-04-02 12:54] matteoredaelli commented on #144
I think you should change the file  /lib/crawly/middlewares/unique_request.ex

The fragment could be removed with something like

   "http://example.com/faqs#one" |> URI.parse |> Map.put(:fragment, nil) |> URI.to_string

I could submit a pull request about this small change

Regards
Matteo

[2022-04-03 20:39] matteoredaelli opened #207 "Setting up a parametric spider (dynamic base_url and start_urls)"
Hello

How could I develop a parametric spider and run it like

   Crawly.Engine.start_spider(MySpider, base_url, start_urls)

Thanks in advance
Matteo

[2022-04-25 08:34] joao2391 commented on #198
Same here.

[2022-06-15 05:55] Rodeoclash commented on #185
+1 here as well :/

[2022-06-25 09:06] IdiosApps opened #209 "Use a more reliable website to crawl in tutorial"
The tutorial uses the homebase site. I think the site layout has changed - for example, there's no body returned for this code in the tutorial:
[code]

A more reliable alternative might be some options from
- https://www.scrapethissite.com/pages/
- https://webscraper.io/test-sites

[2022-07-08 20:55] dogweather opened #210 "Any working examples?"
I've tried many tutorials and demos, but none of them have worked for me. Either it appears to run but I get no output file, or a puzzling `function Crawly.fetch/1 is undefined or private`.

I'm using elixir 1.13.4-otp-24 and erlang 24.3.4.2. (Not using 25 because it's not compatible with the Elixir LS / VS Code extension.)

Can someone point to verified-working demo code?

I'm really intrigued by

[2022-08-22 12:02] shellking4 opened #212 "jl files not found probably not writing"
I'm testing the library in order to see what it's capable of. According to the configurations it should write jl files during the crawl. But in my case it's not happening. Can someone help me out with this ?

[2022-08-31 17:09] shellking4 opened #214 "Crawly.fetch giving 301 response instead of 200"
I'm having an issue using crawly. it was working but now it's giving 301 response

Why Crawly.fetch is returning 301 response instead of 200 ?

[2022-09-14 10:49] oltarasenko commented on #212
Hey. Could you please provide additional information about your setup?

[2022-09-14 10:51] oltarasenko commented on #210
Could you please try an example in the examples folder of the project? It is supposed to work

[2022-09-14 11:27] oltarasenko commented on #214
I can't reproduce this issue:
[code]

[2022-09-14 11:27] #214 closed

[2022-09-14 11:28] oltarasenko commented on #209
Yeah, I have removed the tutorial in favour of the quickstart. Maybe having more sites in the examples folder would be our better target

[2022-09-14 11:29] #187 closed

[2022-09-14 11:30] oltarasenko commented on #198
I have stopped active development of CrawlyUI, and don't have enough money to have a standalone server. So will not work on this.

[2022-09-14 11:30] #198 closed

[2022-09-14 11:30] oltarasenko commented on #198
I have stopped active development of CrawlyUI, and don't have enough money to have a standalone server. So will not work on this.

[2022-09-14 11:36] #186 closed

[2022-09-14 11:37] #99 closed

[2022-09-14 11:37] #37 closed

[2022-09-14 11:38] #77 closed

[2022-09-14 11:38] #112 closed

[2022-09-14 11:38] #142 closed

[2022-09-14 12:14] #128 closed

[2022-09-14 12:14] #138 closed

[2022-09-14 12:27] #152 closed

[2022-09-14 12:29] #144 closed

[2022-09-14 12:30] #166 closed

[2022-09-14 12:30] #189 closed

[2022-09-14 12:34] #183 closed

[2022-09-14 12:35] #185 closed

[2022-09-15 07:01] #182 closed

[2022-09-16 02:21] dogweather commented on #210
Yep, giving it a shot now.

[2022-09-16 03:11] dogweather commented on #210
Yes, it definitely worked. Thank you. I followed the instructions from the main README for it. I got the results in `/tmp` as promised.

[2022-09-16 03:17] dogweather commented on #210
All the tests passed for me too - the framework's as well as the examples. In the framework, I'm using asdf to provide:

[code]

[2022-09-16 06:35] oleg-kivra commented on #210
I will close the ticket for now, and will try to add more examples into the examples folder

[2022-09-16 06:58] #210 closed

[2022-09-18 04:38] azrosen92 opened #224 "My Spider's code is never invoked, weird behavior with `Crawly.RequestsStorage.pop` in library code"
Not really sure what the issue is here. I have a pretty basic Spider implementation that looks like

[code]

When I run `iex -S mix run -e "Crawly.Engine.start_spider(Homebase)"`, I get the following errors

[code]

I tracked it down to the [implementation of `RequestStorage.pop`](https://github.com/elixir-crawly/crawly/blob/master/lib/crawly/requests_storage/requests_storage.ex#L61-L63). It seems

[2022-09-18 09:07] oltarasenko commented on #224
Just in case, could you make an update to 0.14.0. For me it looks like this:
[code]

[2022-09-18 18:14] azrosen92 commented on #224
@oltarasenko thanks for the quick response! I tried upgrading crawly to the latest version and I'm seeing the same error. I'll paste the complete log output below, there are a couple other `debug` logs that I didn't paste in the original question, that look like they might be relevant. In case it matters, I'm using elixir version 1.14.

[code]

[2022-09-18 20:41] azrosen92 commented on #224
I just opened [this PR](https://github.com/elixir-crawly/crawly/pull/225) against crawly. I'm not actually sure that this is a bug with the library itself. It almost seems like a GenServer bug or something's up with my environment... I really have no idea. But that change does fix the issue that I'm having. If you have any insight into what's going on, that would be much appreciated! I'm not super

[2022-09-21 18:23] #212 closed

[2022-10-06 05:22] shellking4 opened #229 "This is actually a question, Nested scraping"
I have a scraper that is scraping data from a website. On the website we have products and each product has different colors options which come with a given set of images. My question is how to set up my scraper so that if I'm on a product page I can also check the other options pages in order to get the specific images. Sounds like a nested stuff but I cannot yet figure out how to implement it.

[2022-10-07 16:59] starcraft66 opened #230 "Genserver time out crash in long-running pipeline"
I wrote a crawler that crawls media galleries to download them and download files uing `HTTPoison` in a custom pipeline. This seems to work fine for small files as they download quickly but if I try to crawl a really big file like a video, I will almost always get this crash:

[code]

Is there a setting I can tweak to allow my pipeline to run for much longer? I didn't see anything easily tweakable

[2022-10-23 10:24] shellking4 opened #232 "Stop and resume the spider where it stopped"
Can we stop and resume the spider at a given point ? How is it done ?

[2022-11-26 17:53] Ziinc commented on #224
Your initial request is not being stored by the RequestStorageWorker and is timing out due to an issue with your CA certs, I am assuming

This line is out of the ordinary and occurs just above the start of the errors.
[code]

This has nothing to do with the requests popping. the `pop` returns `:ok` because your initial start urls were not even stored.

There are a few possibilities:
1. your initia

[2022-11-26 18:12] Ziinc commented on #232
You can call `Crawly.Engine.stop_spider(MySpider)` from anywhere in your project code.

[2022-11-26 18:12] #232 closed

[2022-11-26 18:12] Ziinc commented on #232
please use discussions for such question

[2022-11-26 18:14] Ziinc commented on #230
I would suggest firing off a Task instead or moving such heavy data processing to a separate process tree. Pipelines was designed for lightweight data processing.

[2022-11-26 18:14] #230 closed

[2022-11-26 18:16] Ziinc commented on #229
Performing specific html parsing and extraction is up to your own personal skill, this is outside of the scope of Crawly and crawling management, nor is it an issue with the library.

[2022-11-26 18:16] #229 closed

[2022-11-26 18:18] Ziinc commented on #224
@azrosen92 please reopen if you are still unable to hunt down the issue even after the above.

[2022-11-26 18:18] #224 closed

[2022-11-26 18:20] Ziinc commented on #207
Please use spider `init/1` arguments. Reading the [documentation](https://hexdocs.pm/crawly/Crawly.Spider.html) is also advised.

[2022-11-26 18:20] #207 closed

[2022-11-26 18:23] Ziinc commented on #176
https://hexdocs.pm/crawly/basic_concepts.html#behaviour-functions

[2022-11-26 18:24] Ziinc commented on #176
- [ ] add in examples
  - [ ] add to https://hexdocs.pm/crawly/basic_concepts.html#behaviour-functions, link to callback docs
  - [ ] add to https://hexdocs.pm/crawly/Crawly.Spider.html#c:init/1 , main doc reference.

[2022-11-26 18:29] Ziinc commented on #143
making hash functions optional is a possibility, for users that would like to trade correctness for memory improvements

- [ ] add in hash function to middleware
- [ ] add in boolean option for enabling hasing

[2022-11-26 18:34] Ziinc commented on #146
So this feature request would involve purging the request storage when performing your live crawl?
I think exposing purge functionality is possible, so that one could call it manually when the spider is reloaded for example.

Let me know your thoughts.

[2022-11-26 19:37] tanguilp commented on #146
I think it would rather involve filtering after popping a link to crawl.

Use case is:
1. Store millions of links
2. Update the rules
3. Relaunch the crawl process and discard rule that don't obey the new rules

But I don't now if Crawly has persistent backend store.

That said I don't think this is very much needed for now, so I'd suggest closing the issue for now and reopen if needed.

[2022-11-27 01:51] #146 closed